<ms-sliders></ms-sliders>

<!-- Box featured jobs -->
<ms-featured-jobs></ms-featured-jobs>

<ms-how-measuredskills-help></ms-how-measuredskills-help>
  
<ms-popup-sign-up *ngIf="isShowPopupSingup" (close)="close()"></ms-popup-sign-up>

<!-- Box how measured Skills Works -->
<ms-skill-works [ID_VIDEO]="keyVideo" [description]="description"></ms-skill-works>

<ms-job-jobseeker></ms-job-jobseeker>

<!-- Box Find Your Next Job -->
<ms-find-your-next-job></ms-find-your-next-job>

<!-- Box featured Assessments -->
<ms-featured-assessments [userInfo]="userInfo"></ms-featured-assessments>

<ms-freqently-asked-questions></ms-freqently-asked-questions>

<!-- Box users saying -->
<ms-user-saying-slider [isJobseeker]="true"></ms-user-saying-slider>

<!-- <ms-our-blog></ms-our-blog> -->

<!-- Footer page -->
<ms-footer [isJobSeeker]="true"></ms-footer>
