<div class="container our-blog">
    <h3>Our Blog</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="content">
                <div class="content-img">
                    <a rel="nofollow">
                        <img src="{{API_S3}}/cdn/blog1.jpg" />
                    </a>
                </div>
                <div class="content-bottom">
                    <p class="sub-title">Next Stop: Your New Career</p>
                    <p class="title">How does MeasuredSkills work?</p>
                    <p class="date-time">December 22, 2044</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content">
                <div class="content-img">
                    <a rel="nofollow">
                        <img src="{{API_S3}}/cdn/blog2.jpg" />
                    </a>
                </div>
                <div class="content-bottom">
                    <p class="sub-title">Next Stop: Your New Career</p>
                    <p class="title">How does MeasuredSkills work?</p>
                    <p class="date-time">December 22, 2044</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content">
                <div class="content-img">
                    <a rel="nofollow">
                        <img src="{{API_S3}}/cdn/blog3.jpg" />
                    </a>
                </div>
                <div class="content-bottom">
                    <p class="sub-title">Next Stop: Your New Career</p>
                    <p class="title">How does MeasuredSkills work?</p>
                    <p class="date-time">December 22, 2044</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-action">
        <button type="button" class="btn btn-primary">View More</button>
    </div>
</div>