<ms-sliders [userInfo]="userInfo"></ms-sliders>

<ms-measured-skills></ms-measured-skills>

<!-- Box how measured Skills Works -->
<ms-skill-works [ID_VIDEO]="keyVideo" [description]="description"></ms-skill-works>

<ms-job-employer></ms-job-employer>

<!-- Box featured Assessments -->
<ms-featured-assessments [userInfo]="userInfo" [isEmployer]="true"></ms-featured-assessments>

<ms-how-measuredskills-compares></ms-how-measuredskills-compares>

<ms-our-pricing *ngIf="settingsCard" [settingsCard]="settingsCard"></ms-our-pricing>

<ms-employer-faq></ms-employer-faq>

<!-- Box users saying -->
<ms-user-saying-slider [isEmployer]="true"></ms-user-saying-slider>

<!-- Box get started today -->
<ms-get-started-today [userInfo]="userInfo"></ms-get-started-today>

<!-- Footer page -->
<ms-footer [isEmployer]="true"></ms-footer>
