.funnel {
  .title {
    // margin-right: 20%;
    padding-right: 19%;
    @media (max-width: 1024px) {
      // margin-right: auto;
      padding-right: 0
    }
  }
}
@media (max-width: 991px){
  .tracking-recruitment > .row > div {
    padding-left: 15px !important;
  }
}
