<!-- potential section -->
<div class="job-seeker-info" *ngIf="groupChat?.type == GROUP_TYPE.Nomal && !groupChat?.job_id">
  <div class="top-info">
    <div class="top-info__img" (click)="onViewApplicantWithPrivateJob(isShowApplicant)">
      <div class="mask-card-info cursor-pointer" *ngIf="potentialCandidate?.can_view_profile !== 1"
        (click)="requestAvatarPotential()">
        <span class="request-unmask"
          *ngIf="potentialCandidate?.can_view_profile === null || potentialCandidate?.can_view_profile === -1">
          Unmask</span>
        <fa-icon *ngIf="potentialCandidate?.can_view_profile === 0" [icon]="['fas', 'eye-slash']"></fa-icon>
      </div>
      <img [src]="potentialCandidate?.profile_picture" *ngIf="potentialCandidate?.can_view_profile === 1" onerror="this.src='assets/images/jobseeker_1.jpg'"/>
      <img src="assets/images/mask-avatar.png" *ngIf="potentialCandidate?.can_view_profile !== 1"/>
    </div>
    <h3>
      <!-- <span>{{potentialCandidate?.first_name}}</span>
      <span *ngIf="potentialCandidate?.can_view_profile == 1"> {{potentialCandidate?.last_name}}</span>
      <span *ngIf="potentialCandidate?.can_view_profile != 1" class="blurry-text-114"> @#$@#$</span> -->
      <ms-name-user *ngIf="potentialCandidate" [candidate]="potentialCandidate"></ms-name-user>
    </h3>
    <div class="view-applicant-link">
      <a routerLinkActive="active" class="message-item text-link" [routerLink]="['/find-candidates']"
        [queryParams]="{jobseekerId: potentialCandidate?.id}">
        <span>View Candidate Information </span>
      </a>
    </div>
  </div>
  <div class="list-info">
    <div class="list-info-item active">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy" style="text-transform: uppercase;">Potential Candidate Info</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="info-text">
          <p class="title font-heavy">Desired Compensation:</p>
          <p class="info-text__money" *ngIf="potentialCandidate?.asking_salary">{{potentialCandidate?.asking_salary | currency}} {{getSalaryType(potentialCandidate?.asking_salary_type)}}</p>
          <p class="info-text__money" *ngIf="!potentialCandidate?.asking_salary">N/A</p>
        </div>
        <div class="info-text">
          <p class="row-salary__text font-heavy">Desired Benefits: </p>
          <p class="info-text__money">{{potentialCandidate?.asking_benefits || 'N/A'}}</p>
        </div>
        <div class="row-assessments">
          <p class="font-heavy title">All Assessments:</p>
          <div class="list-skill mt-4">
            <div class="list-skill__item {{colorWeightAssessment(getPotentialPoint(assessment))}}"
              *ngFor="let assessment of listAssessmentJobseeker">
              {{assessment.name}}: {{getPotentialPoint(assessment)}}
            </div>
          </div>
        </div>
        <div class="row-reviews" *ngIf="showRateBot">
          <p class="title mb-2">Potential Reviews:</p>
          <p>How quickly did this applicant respond?</p>
          <div class="reviews-btn" *ngIf="voteStatus === 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>

          <div class="reviews-btn" *ngIf="voteStatus !== 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)"
              [style]="voteStatus == -1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)"
              [style]="voteStatus == 1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">UPLOADED DOCUMENTS</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="file-item" *ngFor="let file of listUploadedFiles">
          <a class="text-link" (click)="showModalPreviewFileComponent(file.content)">
            <fa-icon [icon]="fileService.getFaIconFromLink(file.content)"></fa-icon>
            <span>{{convertImageAndFile(file.content)}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">SHARED IMAGES</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="share-img-item" *ngFor="let image of listUploadedImages">
          <a class="text-link" (click)="openPopupShowImage(image.content)">
            <fa-icon [icon]="['far', 'file-image']"></fa-icon>
            <span>{{convertImageAndFile(image.content)}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end potential section -->

<!-- applicant section -->

<div class="job-seeker-info" *ngIf="groupChat?.type == GROUP_TYPE.Nomal && groupChat?.job_id">
  <div class="top-info" >
    <div class="top-info__img" (click)="onViewApplicantWithPrivateJob(isShowApplicant)">
      <div class="mask-card-info cursor-pointer" *ngIf="listApplicant?.can_view_profile !== 1"
        (click)="requestAvatar()">
        <span class="request-unmask"
          *ngIf="listApplicant?.can_view_profile === null || listApplicant?.can_view_profile === -1">
          Unmask</span>
        <fa-icon *ngIf="listApplicant?.can_view_profile === 0" [icon]="['fas', 'eye-slash']"></fa-icon>
      </div>
      <img src="assets/images/mask-avatar.png" *ngIf="listApplicant?.can_view_profile !== 1"/>
      <img [src]="listApplicant?.picture" *ngIf="listApplicant?.can_view_profile === 1" onerror="this.src='assets/images/jobseeker_1.jpg'" />
    </div>
    <!-- <h3>
      <span *ngIf="listApplicant?.can_view_profile == 1">{{listApplicant?.firstName}} {{listApplicant?.lastName}}</span>
      <span *ngIf="listApplicant?.can_view_profile != 1" class="blurry-text-114">@#$@#$ @#$@#$</span>
    </h3> -->
    <h3>
      <ms-name-user *ngIf="listApplicant" [applicant]="listApplicant"></ms-name-user>
    </h3>

    <ng-template #tipContent>
      <fa-icon [icon]="['fas', 'lock']" [styles]="{'color': '#2668a9'}"></fa-icon> Message Applicant to Unlock this
      Feature.
    </ng-template>
    <div [ngbTooltip]="tipContent" [disableTooltip]="listApplicant?.canRateStars" tooltipClass="tooltip-custom">
      <div class="rating" [style]="listApplicant?.canRateStars == 1 ? '' : 'pointer-events: none;'">
        <div *ngFor="let index of numberStar" (click)="rateStarNumber(index + 1)">
          <!-- <i [ngClass]="rateStar >= index + 1 ? 'rating-light': 'rating-dark'" class="fas fa-star"></i> -->
          <fa-icon [icon]="['fas', 'star']" [ngClass]="rateStar >= index + 1 ? 'rating-light': 'rating-dark'"></fa-icon>
        </div>
      </div>
    </div>
    <div class="view-applicant-link">
      <a routerLinkActive="active" class="message-item text-link" [routerLink]="['/applicants']"
        [queryParams]="{jobId: listApplicant?.jobId, jobseekerId: listApplicant?.jobseekerId}">
        <span>View Applicant Information</span>
      </a>
    </div>
  </div>
  <div class="list-info">
    <div class="list-info-item active">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">APPLICANT INFORMATION</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="info-text">
          <p class="title font-heavy">Desired Compensation:</p>
          <p class="info-text__money" *ngIf="listApplicant?.salary">{{listApplicant?.salary | currency}} {{getSalaryType(listApplicant?.salaryType)}}</p>
          <p class="info-text__money" *ngIf="!listApplicant?.salary">N/A</p>
        </div>
        <div class="row-benefit" *ngIf="listBenefits && listBenefits.length > 0">
          <p class="row-salary__text font-heavy">Desired Benefits: </p>
          <ul class="info-job__item">
            <li *ngFor="let item of listBenefits">{{item.title}}</li>
          </ul>
        </div>
        <div class="info-text" *ngIf="!listBenefits || listBenefits.length <= 0">
          <p class="title font-heavy">Desired Benefits: </p>
          <p class="info-text__money">N/A</p>
        </div>
        <div class="info-text">
          <p class="title font-heavy">Overall Weighted Score:</p>
          <p class="info-text__money">{{listApplicant?.totalPoint}}%</p>
        </div>
        <div class="row-assessments">
          <p class="font-heavy title">Required Assessments:</p>
          <div class="list-skill mt-4">
            <div class="list-skill__item {{colorWeightAssessment(getJobseekerPoint(assessment))}}"
              *ngFor="let assessment of listAssessmentJobseeker">
              {{assessment.name}}: {{getJobseekerPoint(assessment)}}
            </div>
          </div>
        </div>

        <div class="row-reviews" *ngIf="showRateBot">
          <p class="title mb-2">Applicant Reviews:</p>
          <p>How quickly did this applicant respond?</p>
          <div class="reviews-btn" *ngIf="voteStatus === 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>

          <div class="reviews-btn" *ngIf="voteStatus !== 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)"
              [style]="voteStatus == -1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)"
              [style]="voteStatus == 1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">INTERVIEW SCHEDULE</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="info-text">
          <p class="title font-heavy">Interview Status:</p>
          <div ngbDropdown class="dropdown-status">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <ms-list-icon-interview [stage]="stageIcon"></ms-list-icon-interview>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="selectInterViewStatus(stage)" *ngFor="let stage of listStages">
                <ms-list-icon-interview [stage]="stage"></ms-list-icon-interview>
                {{stage.value}}
              </button>
            </div>
          </div>
          <!-- <p class="info-text__money">status need update from applicant</p> -->
        </div>
        <div class="row-schedule">
          <p class="row-salary__text font-heavy">Interview Schedule:</p>
          <div (click)="handleAsideClick($event)">
            <div class="input-group box-date-custom">
              <input class="form-control" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #d="ngbDatepicker"
                [value]="formatter.format(placeHolderExpired)" [firstDayOfWeek]="7" [footerTemplate]="footerTemplate"
                (dateSelect)="onDateSelectionTo($event)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                </button>
              </div>
            </div>
            <ng-template #footerTemplate>
              <div class="time-select">
                <h4>Time</h4>
                <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
              </div>
            </ng-template>
            <button type="button" class="btn btn-success mt-2" (click)="submit()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">UPLOADED DOCUMENTS</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="file-item" *ngFor="let file of listUploadedFiles">
          <a class="text-link" (click)="showModalPreviewFileComponent(file.content)">
            <fa-icon [icon]="fileService.getFaIconFromLink(file.content)"></fa-icon>
            <span>{{convertImageAndFile(file.content)}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">SHARED IMAGES</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="share-img-item" *ngFor="let image of listUploadedImages">
          <a class="text-link" (click)="openPopupShowImage(image.content)">
            <fa-icon [icon]="['far', 'file-image']"></fa-icon>
            <span>{{convertImageAndFile(image.content)}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end applicant section -->

<!-- support section -->
<div class="job-seeker-info" *ngIf="groupChat?.type != GROUP_TYPE.Nomal">
  <div class="list-info">
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">UPLOADED DOCUMENTS</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="file-item" *ngFor="let file of listUploadedFiles">
          <a class="text-link" (click)="showModalPreviewFileComponent(file.content)">
            <fa-icon [icon]="fileService.getFaIconFromLink(file.content)"></fa-icon>
            <span>{{convertImageAndFile(file.content)}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">SHARED IMAGES</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="share-img-item" *ngFor="let image of listUploadedImages">
          <a class="text-link" (click)="openPopupShowImage(image.content)">
            <fa-icon [icon]="['far', 'file-image']"></fa-icon>
            <span>{{convertImageAndFile(image.content)}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end support section -->
