<!-- applicant section -->
<div class="job-seeker-info" *ngIf="groupChat?.type == GROUP_TYPE.Nomal && groupChat?.job_id">
  <div class="top-info" >
    <div class="top-info__img">
      <img [src]="listApplicant?.picture" onerror="this.src='assets/images/jobseeker_1.jpg'" />
    </div>
    <h3>
      <p *ngIf="listApplicant">
        <span> {{listApplicant?.firstName}}</span>
        <span> {{listApplicant?.lastName}}</span>
      </p>
    </h3>
    <div class="view-applicant-link">
      <a routerLinkActive="active" class="message-item text-link" [routerLink]="['/applicants']"
        [queryParams]="{jobId: listApplicant?.jobId, jobseekerId: listApplicant?.jobseekerId}">
        <span>View Applicant Information</span>
      </a>
    </div>
  </div>
  <div class="list-info">
    <div class="list-info-item active">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">APPLICANT INFORMATION</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="info-text">
          <p class="title font-heavy">Desired Compensation:</p>
          <p class="info-text__money" *ngIf="listApplicant?.salary">{{listApplicant?.salary | currency}} {{getSalaryType(listApplicant?.salaryType)}}</p>
          <p class="info-text__money" *ngIf="!listApplicant?.salary">N/A</p>
        </div>
        <div class="row-benefit" *ngIf="listBenefits && listBenefits.length > 0">
          <p class="row-salary__text font-heavy">Desired Benefits: </p>
          <ul class="info-job__item">
            <li *ngFor="let item of listBenefits">{{item.title}}</li>
          </ul>
        </div>
        <div class="info-text" *ngIf="!listBenefits || listBenefits.length <= 0">
          <p class="title font-heavy">Desired Benefits: </p>
          <p class="info-text__money">N/A</p>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">INTERVIEW SCHEDULE</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="info-text">
          <p class="title font-heavy">Interview Status:</p>
          <div ngbDropdown class="dropdown-status">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <ms-list-icon-interview [stage]="stageIcon"></ms-list-icon-interview>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="selectInterViewStatus(stage)" *ngFor="let stage of listStages">
                <ms-list-icon-interview [stage]="stage"></ms-list-icon-interview>
                {{stage.value}}
              </button>
            </div>
          </div>
          <!-- <p class="info-text__money">status need update from applicant</p> -->
        </div>
        <div class="row-schedule">
          <p class="row-salary__text font-heavy">Interview Schedule:</p>
          <div (click)="handleAsideClick($event)">
            <div class="input-group box-date-custom">
              <input class="form-control" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #d="ngbDatepicker"
                [value]="formatter.format(placeHolderExpired)" [firstDayOfWeek]="7" [footerTemplate]="footerTemplate"
                (dateSelect)="onDateSelectionTo($event)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                </button>
              </div>
            </div>
            <ng-template #footerTemplate>
              <div class="time-select">
                <h4>Time</h4>
                <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
              </div>
            </ng-template>
            <button type="button" class="btn btn-success mt-2" (click)="submit()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">UPLOADED DOCUMENTS</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="file-item" *ngFor="let file of listUploadedFiles">
          <a class="text-link" (click)="showModalPreviewFileComponent(file.content)">
            <fa-icon [icon]="fileService.getFaIconFromLink(file.content)"></fa-icon>
            <span>{{convertImageAndFile(file.content)}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">SHARED IMAGES</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="share-img-item" *ngFor="let image of listUploadedImages">
          <a class="text-link" (click)="openPopupShowImage(image.content)">
            <fa-icon [icon]="['far', 'file-image']"></fa-icon>
            <span>{{convertImageAndFile(image.content)}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end applicant section -->
