<header id="header" [class.header_change]="header_variable && window.location.pathname != '/landing-employer'"
  [class.header_change_employer]="header_variable && window.location.pathname == '/landing-employer'"
  [ngClass]='{"header-jobseeker" : (user && user.accountType == listUserType.JOB_SEEKER && window.location.pathname != "/landing-jobseeker")  || window.location.pathname == "/job" || checkLocationJobDetails()}'>
  <div class="container" [class.container-extra]="isEmployer()">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-content">
          <div class="logo-desktop">
            <a [routerLink]="'/landing-jobseeker'" class="header-logo">
              <img data-src="assets/icons/logo.svg" src="assets/icons/logo.svg" height="50px" width="auto" loading="lazy" class="lazyload" alt="logo" />
            </a>
            <a [routerLink]="'/landing-jobseeker'" class="logo-sticky">
              <img src="{{API_S3}}/cdn/logo_sticky.svg" data-src="{{API_S3}}/cdn/logo_sticky.svg" loading="lazy" class="lazyload" height="50px" width="auto" alt="logo" />
            </a>
          </div>
          <div class="header-menu-right" *ngIf="!user && !isTakeTesting()">
            <ul>
              <li>
                <a routerLinkActive="active" [routerLink]="'/landing-jobseeker'">Jobseeker Home</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="'/landing-employer'">Employer Home</a>
              </li>
              <li class="sign-in">
                <a [routerLink]="'/login'" class="btn-sign-in">
                  <fa-icon [icon]="['fas', 'user']"></fa-icon>
                  Sign In
                </a>
              </li>
              <li>
                <a [routerLink]="'/register'" class="btn-sign-up">Sign Up</a>
              </li>
            </ul>
          </div>

          <div class="header-menu-right menu--logined" *ngIf="user && isShowFullMenu && !isTakeTesting()">
            <ul>
              <li>
                <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-dashboard' : '/job'"
                  routerLinkActive="active">
                  {{ user.accountType == listUserType.EMPLOYER ? "Post Jobs" : "Find Jobs" }}
                </a>
              </li>
              <li *ngIf="isEmployer()">
                <a [routerLink]="'/applicants'" routerLinkActive="active">Applicants</a>
              </li>
              <li>
                <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-assessments' : '/job-seeker-assessments'"
                  routerLinkActive="active">Assessments</a>
              </li>

              <li *ngIf="user.accountType == listUserType.JOB_SEEKER">
                <a href="javascript:void(0)" routerLinkActive="active" class="message-item"
                  (click)="goToMessage()">
                  Messages
                  <span *ngIf="unread > 0" class="message-unread">{{unread > 0 ? (unread) : ''}}</span></a>
              </li>
            </ul>
          </div>

          <div class="block-card-noti-acc" *ngIf="user">
            <div *ngIf="user.accountType == listUserType.EMPLOYER ">
              <a href="javascript:void(0)" routerLinkActive="active" class="message-item" (click)="goToMessage()">
                <svg-icon src="assets/icons/message.svg" class="fill-employer"></svg-icon>
                <span *ngIf="unread > 0" class="message-new-unread">{{unread > 0 ? (unread) : ''}}</span>
              </a>
            </div>

            <a [routerLink]="['/shopping-card']" class="block-sp-card cursor-pointer" *ngIf="isEmployer() && isShowFullMenu">
              <img src="assets/images/shop-cart@2x.svg" alt="user" [ngClass]="{'shopping-cart-item': window.location.pathname != '/landing-employer'}">
              <p class="card-num" *ngIf="cards && cards.length > 0 ">{{cards.length}}</p>
            </a>
           
            <div class="box-acc">
              <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0)" class="box-acc-name" id="dropdownAccount" ngbDropdownToggle>
                  <div class="box-acc__img" *ngIf="user.accountType == listUserType.JOB_SEEKER">
                    <img [src]="user.avatar" onerror="this.src='assets/images/jobseeker_1.jpg'"
                      alt="{{user.firstName}} {{user.lastName}}" class="avatar" />
                  </div>
                  <div class="box-acc__img box-acc__img--employer" *ngIf="user.accountType == listUserType.EMPLOYER "
                    [class.has-logo]="user.employer_id">
                    <!-- <img *ngIf="!user.employer_id" [src]="currentLogoCompany" onerror="this.src='assets/images/employer_default_photo_1.png'"
                    alt="{{user.firstName}} {{user.lastName}}" /> -->
                    <img [src]="currentProfileEmployer" onerror="this.src='assets/images/jobseeker_1.jpg'"
                      alt="{{user.firstName}} {{user.lastName}}" class="avatar" />
                    <img alt="logo-company" onerror="this.src='assets/images/employer_default_photo_1.png'"
                      [src]="currentLogoCompany" class="company company-delegate" />
                  </div>
                  <span [class.name-account]="user.accountType == listUserType.EMPLOYER">{{user.firstName}}
                    {{user.lastName}}</span>
                  <span class="arrow arrow-bottom" *ngIf="!isTakeTesting()"></span>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownAccount" *ngIf="!isTakeTesting()">
                  <button ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('profile') : redirectToJobseeker('profile')"
                    *ngIf="isShowFullMenu">{{ user.accountType == listUserType.EMPLOYER ? "User Information" : "Profile"
                    }} </button>
                  <button ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('company-profile') : redirectToJobseeker('profile')"
                    *ngIf="isShowFullMenu && user.accountType == listUserType.EMPLOYER">Company Profile</button>
                  <button [hidden]="user.accountType != listUserType.EMPLOYER" ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('member') : redirectToJobseeker('member')"
                    *ngIf="isShowFullMenu">Manage Members</button>
                  <button ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('password') : redirectToJobseeker('password')"
                    *ngIf="isShowFullMenu">Password</button>
                  <button ngbDropdownItem (click)="logout()">Logout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<header id="header-mobile" [class.header_change]="header_variable  && window.location.pathname != '/landing-employer'"
  [class.header_change_employer]="header_variable  && window.location.pathname == '/landing-employer'"
  [ngClass]='{"header-jobseeker" : (user && user.accountType == listUserType.JOB_SEEKER && window.location.pathname != "/landing-jobseeker") || window.location.pathname == "/job" || checkLocationJobDetails()}'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-content">
          <div class="box-mobile" *ngIf="!user">
            <div ngbDropdown>
              <span ngbDropdownToggle>
                <fa-icon [icon]="['fas', 'bars']" class="sidebar-menu"></fa-icon>
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdownMobile">
                <div class="header-menu-right" *ngIf="!user && !isTakeTesting()" ngbDropdownItem>
                  <ul>
                    <!-- <li ngbDropdownItem>
                      <a routerLinkActive="active" [routerLink]="'/home'">Home</a>
                    </li> -->
                    <li ngbDropdownItem>
                      <a routerLinkActive="active" [routerLink]="'/landing-jobseeker'">Jobseeker Home</a>
                    </li>
                    <li ngbDropdownItem>
                      <a routerLinkActive="active" [routerLink]="'/landing-employer'">Employer Home</a>
                    </li>
                  </ul>
                </div>
                <div class="header-menu-right menu--logined" *ngIf="user && isShowFullMenu && !isTakeTesting()"
                  ngbDropdownIte>
                  <ul>
                    <li ngbDropdownItem>
                      <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-dashboard' : '/job'"
                        routerLinkActive="active">
                        {{ user.accountType == listUserType.EMPLOYER ? "Post Jobs" : "Find Jobs" }}
                      </a>
                    </li>
                    <li *ngIf="isEmployer()" ngbDropdownItem>
                      <a [routerLink]="'/applicants'" routerLinkActive="active">Applicants</a>
                    </li>
                    <li ngbDropdownItem>
                      <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-assessments' : '/job-seeker-assessments'"
                        routerLinkActive="active">Assessments</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isEmployer()" class="mobile-employer">
            <div class="box-mobile">
              <div ngbDropdown>
                <a href="javascript:void(0)" ngbDropdownToggle>
                  <fa-icon [icon]="['fas', 'bars']" class="fill-employer sidebar-menu"></fa-icon>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownMobile">
                  <div class="header-menu-right" *ngIf="!user && !isTakeTesting()" ngbDropdownItem>
                    <ul>
                      <li ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="'/landing-jobseeker'">Jobseeker Home</a>
                      </li>
                      <li ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="'/landing-employer'">Employer Home</a>
                      </li>
                    </ul>
                  </div>

                  <div class="header-menu-right menu--logined" *ngIf="user && isShowFullMenu && !isTakeTesting()"
                    ngbDropdownIte>
                    <ul>
                      <li ngbDropdownItem>
                        <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-dashboard' : '/job'"
                          routerLinkActive="active">
                          Post Jobs
                        </a>
                      </li>
                      <li *ngIf="isEmployer()" ngbDropdownItem>
                        <a [routerLink]="'/applicants'" routerLinkActive="active">Applicants</a>
                      </li>
                      <li ngbDropdownItem>
                        <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-assessments' : '/job-seeker-assessments'"
                          routerLinkActive="active">Assessments</a>
                      </li>
                      <li *ngIf="user.accountType == listUserType.EMPLOYER" ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="['/shopping-card']"
                          class="block-sp-card cursor-pointer position-relative" *ngIf="isEmployer() && isShowFullMenu">
                          Shopping Cart
                          <span class="card-num cart-num" *ngIf="cards && cards.length > 0 ">{{cards.length}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="user && user.accountType == listUserType.JOB_SEEKER" class="mobile-employer">
            <div class="box-mobile">
              <div ngbDropdown>
                <a href="javascript:void(0)" ngbDropdownToggle>
                  <fa-icon [icon]="['fas', 'bars']" class="sidebar-menu"></fa-icon>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownMobile">
                  <div class="header-menu-right" *ngIf="!user && !isTakeTesting()" ngbDropdownItem>
                    <ul>
                      <li ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="'/landing-jobseeker'">Jobseeker Home</a>
                      </li>
                      <li ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="'/landing-employer'">Employer Home</a>
                      </li>
                    </ul>
                  </div>
                  <div class="header-menu-right menu--logined" *ngIf="user && isShowFullMenu && !isTakeTesting()"
                    ngbDropdownIte>
                    <ul>
                      <li ngbDropdownItem>
                        <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-dashboard' : '/job'"
                          routerLinkActive="active">
                          {{ user.accountType == listUserType.EMPLOYER ? "Post Jobs" : "Find Jobs" }}
                        </a>
                      </li>
                      <li *ngIf="isEmployer()" ngbDropdownItem>
                        <a [routerLink]="'/applicants'" routerLinkActive="active">Applicants</a>
                      </li>
                      <li ngbDropdownItem>
                        <a [routerLink]="user.accountType == listUserType.EMPLOYER ? '/employer-assessments' : '/job-seeker-assessments'"
                          routerLinkActive="active">Assessments</a>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a [routerLink]="'/landing-jobseeker'" class="header-logo">
            <svg-icon src="assets/icons/logo.svg"></svg-icon>
          </a>
          <a [routerLink]="'/landing-jobseeker'" class="logo-sticky">
            <img data-src="{{API_S3}}/cdn/logo_sticky.svg" src="{{API_S3}}/cdn/logo_sticky.svg"  height="50px" width="auto" alt="logo" />
          </a>

          <div class="menu-messages-box" *ngIf="isEmployer()">
            <div *ngIf="user.accountType == listUserType.EMPLOYER " class="dropdown-message">
              <a href="javascript:void(0)" routerLinkActive="active" class="message-item" (click)="goToMessage()">
                <svg-icon src="assets/icons/message.svg" class="fill-employer message-mobile"></svg-icon>
                <span *ngIf="unread > 0" class="message-new-unread">{{unread > 0 ? (unread) : ''}}</span>
              </a>
            </div>
          </div>

          <div class="header-menu-right box-actions" *ngIf="!user && !isTakeTesting()" ngbDropdown>
            <span ngbDropdownToggle>
              <fa-icon [icon]="['fas', 'user']"></fa-icon>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownActions">
              <div ngbDropdownItem>
                <a [routerLink]="'/login'" class="btn-sign-in btn-account-settings">Sign In</a>
              </div>
              <div ngbDropdownItem>
                <a [routerLink]="'/register'" class="btn-sign-up btn-account-settings">Sign Up</a>
              </div>
            </div>
          </div>

          <div *ngIf="user && user.accountType == listUserType.JOB_SEEKER" class="menu-messages-box-jobseeker">
            <div *ngIf="user && user.accountType == listUserType.JOB_SEEKER" class="dropdown-message-jobseeker">
              <a routerLinkActive="active" class="message-item"
                (click)="goToMessage()">
                <svg-icon src="assets/icons/message.svg" class="fill-jobs message-mobile"></svg-icon>
                <span *ngIf="unread > 0" class="message-new-unread">{{unread > 0 ? (unread) : ''}}</span>
              </a>
            </div>
          </div>

          <div class="block-card-noti-acc" *ngIf="user" ngbDropdownItem>

            <!-- <a href="#" class="block-noti" *ngIf="isShowFullMenu">
              <img src="assets/images/noti@2x.png" alt="user">
              <p class="noti-num">5</p>
            </a> -->
            <div class="box-acc">
              <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0)" class="box-acc-name" id="dropdownAccount" ngbDropdownToggle>
                  <div class="box-acc__img" *ngIf="user.accountType == listUserType.JOB_SEEKER">
                    <img [src]="user.avatar" onerror="this.src='assets/images/jobseeker_1.jpg'"
                      alt="{{user.firstName}} {{user.lastName}}" class="avatar" />
                  </div>
                  <div class="box-acc__img box-acc__img--employer" *ngIf="user.accountType == listUserType.EMPLOYER "
                    [class.has-logo]="user.employer_id">
                    <!-- <img *ngIf="!user.employer_id" [src]="currentLogoCompany" onerror="this.src='assets/images/employer_default_photo_1.png'"
                      alt="{{user.firstName}} {{user.lastName}}" class="avatar" /> -->
                    <img [src]="currentProfileEmployer" onerror="this.src='assets/images/jobseeker_1.jpg'"
                      alt="{{user.firstName}} {{user.lastName}}" class="avatar" />
                    <img alt="logo-company" onerror="this.src='assets/images/employer_default_photo_1.png'"
                      [src]="currentLogoCompany" class="company company-delegate" />
                  </div>
                  <span>{{user.firstName}} {{user.lastName}}</span>
                  <span class="arrow arrow-bottom" *ngIf="!isTakeTesting()"></span>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownAccount" *ngIf="!isTakeTesting()">
                  <button ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('profile') : redirectToJobseeker('profile')"
                    *ngIf="isShowFullMenu">{{ user.accountType == listUserType.EMPLOYER ? "User Information" : "Profile"
                    }} </button>
                  <button ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('company-profile') : redirectToJobseeker('profile')"
                    *ngIf="isShowFullMenu && user.accountType == listUserType.EMPLOYER">Company Profile</button>
                  <button [hidden]="user.accountType != listUserType.EMPLOYER" ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('member') : redirectToJobseeker('member')"
                    *ngIf="isShowFullMenu">Manage Members</button>
                  <button ngbDropdownItem
                    (click)="user.accountType == listUserType.EMPLOYER ? redirectToEmployer('password') : redirectToJobseeker('password')"
                    *ngIf="isShowFullMenu">Password</button>
                  <button ngbDropdownItem (click)="logout()">Logout</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
