<div class="container our-pricing">
    <h3>Our Pricing</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="content-left">
                <div class="item-header">
                    <p class="title">Create An Account for Free</p>
                    <p class="sub-title">What’s Included</p>
                </div>
                <div class="list-items">
                    <p class="item">Access to our Jobseeker Database</p>
                    <p class="item">About Employer/Brand Page</p>
                    <p class="item">Ability to Preview All Assessments</p>
                    <p class="item">Ability to Create Custom Assessments</p>
                    <p class="item">See how many Jobseekers Follow You</p>
                    <p class="item">You Only Pay when You Post a Job or Direct</p>
                    <p class="item">Message a Candidate from our Database!</p>
                </div>
                <div class="item-footer">
                    <button class="btn btn-first" (click)="goToLogin()">FREE!</button>
                    <button class="btn btn-last" (click)="goToLogin()">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="content">
                <div class="content-top">
                    <div class="item-header">
                        <p class="title">Pay for What You Use</p>
                    </div>
                </div>
                <div class="content-bottom">
                    <div class="row box-items">
                        <div class="col-md-6">
                            <div class="item">
                                <div class="item-header">
                                    <p class="title">Standard Job Post</p>
                                    <p *ngIf="settingsCard.standard_price" class="sub-title">{{settingsCard.standard_price | currency}} per Day</p>
                                </div>
                                <div class="list-items">
                                    <p>Your job can be seen by anyone who visits our site.</p>
                                    <p>Link up to 5 assessments from our catalog plus an unlimited number of
                                        assessments you create! Although we recommend a limit of 3 total.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <div class="item-header">
                                    <p class="title">Direct Message Jobseekers You Find</p>
                                    <p *ngIf="settingsCard.standard_price" class="sub-title">{{settingsCard.standard_direct_message_price| currency}} per Candidate</p>
                                </div>
                                <div class="list-items">
                                    <p>You only pay for the first direct message you send. The rest of the
                                        conversation is free!</p>
                                    <p>Using Find Candidates, you can pay to direct message jobseekers or invite
                                        them to apply to an active job for free.</p>
                                    <p>It is free to message jobseekers who apply to your job(s).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <div class="item-header">
                                    <p class="title">Featured Job Post Upgrade</p>
                                    <p *ngIf="settingsCard.featured_price" class="sub-title">{{settingsCard.featured_price | currency}} Additional per Day</p>
                                </div>
                                <div class="list-items">
                                    <p>Get your job the most visibility.</p>
                                    <p>Feature it on our homepage and in search results!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <div class="item-header">
                                    <p class="title">Private Job Invitation</p>
                                    <p *ngIf="settingsCard.private_job_price" class="sub-title">{{settingsCard.private_job_price | currency}} per Invitation</p>
                                </div>
                                <div class="list-items">
                                    <p>For when you want to assess specific individuals.</p>
                                    <p>Perfect for an existing list of candidates or an internal job!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="last-child">
                                <div class="item">
                                    <div class="item-header">
                                        <p class="title">Urgently Hiring Badge</p>
                                        <p *ngIf="settingsCard.urgent_hiring_price" class="sub-title">{{settingsCard.urgent_hiring_price | currency}} Flat Fee</p>
                                    </div>
                                    <div class="list-items">
                                        <p>Increase the visibility of your job.</p>
                                        <p>Show you need to fill your role fast!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
