<div class="posting-item" *ngFor="let card of getNumberCard()">
  <div class="posting-item-header">
    <h3 class="animated-background card-title"></h3>
    <div class="icon-loading">
      <div class="posting-item__pos"></div>
    </div>
    <div class="posting-item__edits"></div>
  </div>
  <div class="posting-item-content">
    <p class="animated-background card-long-text posting-item-create-date mb-2"></p>
    <p class="animated-background card-long-text posting-item-expires-date mb-2"></p>
    <div class="posting-item-desc">
      <div class="animated-background card-long-text posting-item-desc__title">
      </div>
      <div class="animated-background card-long-text"></div>
    </div>
  </div>
  <div class="posting-item-footer">
    <p class="animated-background card-short-text"></p>
    <div class="list-skill">
      <div class="list-skill__item skill--dontmake">
        <p class="animated-background card-detail-text"></p>
      </div>
      <div class="list-skill__item skill--dontmake">
        <p class="animated-background card-detail-text"></p>
      </div>
      <div class="list-skill__item skill--dontmake">
        <p class="animated-background card-detail-text"></p>
      </div>
      <div class="list-skill__item skill--dontmake">
        <p class="animated-background card-detail-text"></p>
      </div>
      <div class="list-skill__item skill--dontmake">
        <p class="animated-background card-detail-text"></p>
      </div>
    </div>
  </div>
</div>