<footer class="footer-top" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-top-content">
                    <div class="footer-top-contact">
                        <div class="footer-top__list">
                            <p class="footer-top-title">
                                Useful Links
                            </p>
                            <ul>
                                <li>
                                    <a [routerLink]="'/landing-jobseeker'">
                                        Jobseeker Home
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="'/landing-employer'">
                                        Employer Home
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__list">
                            <ul>
                                <li>
                                    <a href="tel:+12067452979">
                                        <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
                                        +1 (206) 745-2979
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: info@measuredskills.com" class="blue-color">
                                        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                                        <span>
                                            info@measuredskills.com
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" rel="noopener"
                                        href=""
                                        class="blue-color">
                                        <fa-icon [icon]="['fas', 'map-pin']" class="fs35"></fa-icon>
                                        <span>
                                            Hoang Mai. Ha Noi
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__subscribe">
                            <form method="post">
                                <p class="footer-top-title">
                                    Sign Up to Receive Updates
                                </p>
                                <div class="footer-sign-up">
                                    <div class="form-group">
                                        <input name="" class="form-control"
                                            placeholder="Enter Your Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input name="" class="form-control"
                                            placeholder="First Name" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input name="" class="form-control"
                                            placeholder="Last Name" type="email">
                                    </div>
                                </div>
                                <div class="footer-opt-checkbox">
                                    <div class="checkbox-group">
                                        <div class="form-check mr-3">
                                            <input class="form-check-input" type="radio" name="acc_type"
                                                 [value]="USER_TYPE.JOB_SEEKER"
                                                id="jobseeker">
                                            <label class="form-check-label" for="jobseeker">
                                                Jobseeker
                                            </label>
                                        </div>
                                        <div class="form-check mr-3">
                                            <input class="form-check-input" type="radio" name="acc_type" [value]="USER_TYPE.EMPLOYER" id="employer">
                                            <label class="form-check-label" for="employer">
                                                Employer
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="acc_type" [value]="USER_TYPE.OTHER" id="other">
                                            <label class="form-check-label" for="other">
                                              Other
                                            </label>
                                        </div>
                                    </div>
                                    <button msLoadingButton [ngClass]="{'disbale-button': disableButtonForm}" type="button"
                                        class="btn btn-success button-subscribe">Subscribe</button>
                                </div>
                                <button msLoadingButton [ngClass]="{'disbale-button': disableButtonForm}"
                                type="button"
                                class="btn btn-success button-subscribe-mobile mt-2">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="footer-top-follow">
                        <p class="footer-top-title">
                            Follow Us
                        </p>
                        <a href="" target="_blank" rel="noopener">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                        </a>
                        <a href="" target="_blank">
                            <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
                        </a>
                        <a href="" target="_blank" rel="noopener">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                        <a href="" target="_blank">
                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                        </a>
                        <a href="" target="_blank">
                            <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
                        </a>
                        <a href="" target="_blank">
                            <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
