.redirect-fqa {
  color: #2668a9;
  text-decoration: underline;
  cursor: pointer;
}

.icon-responsive {
  svg {
    width: 22px;
  }
}

.logo {
  width: 35px;
  margin-bottom: 10px;
}

.contact-admin {
  color: #2668a9;
  font-weight: bold;
}
