.list-job-assessment-header {
  margin-bottom: 7px;
}

.job-list-assessment {
  padding: 35px 30px 15px 30px;
}

.block-search-asessment {
  margin-top: 30px;
}

.search-jobs-options__multi {
  margin-bottom: 0;
}
.pagination-assessment{
  margin-top: 10px;
  margin-left: 15px;
}