<div class="company-page__inner mt-3">
  <div class="logo">
    <svg-icon src="assets/icons/logo-only-icon.svg"></svg-icon>
  </div>
  <h3 class="card-title text-center title-logo">MeasuredSkills</h3>
  <h4 class="text-center">Complete your signup!</h4>
    <div class="setting-company mt-4">
      <form [formGroup]="formUpdate" (ngSubmit)=save(formUpdate.value)>
        <div class="form-group">
            <label>Password<span class="text-danger">*</span></label>
            <input class="form-control" placeholder="******" type="password" formControlName="password">
            <div class="text-danger"
              *ngIf="formUpdate.controls.password.touched && formUpdate.controls.password.errors?.required">
              Password is required!
            </div>
            <div class="text-danger"
              *ngIf="formUpdate?.controls?.password?.errors?.pattern && formUpdate?.controls?.password?.touched">
              New Password must have at least 6 characters, 1 lowercase letter, 1 uppercase letter, 1 number and 1 special character (!,@,#,$,%,&,*,..).
            </div>
        </div>
        <div class="form-group">
          <label>Confirm Password<span class="text-danger">*</span></label>
          <input class="form-control" placeholder="******" type="password" formControlName="confirmPassword">
          <div class="text-danger"
            *ngIf="formUpdate.controls.confirmPassword.touched && formUpdate.controls.confirmPassword.errors?.required">
            Password is required!
            </div>
            <div class="text-danger"
            *ngIf="formUpdate.controls?.confirmPassword?.touched && formUpdate.hasError('mismatchedPasswords')">
            Passwords do not match
          </div>
      </div>
        <div class="form-group d-flex justify-content-center">
          <button msLoadingButton [loading]="isCallingApi" type="submit" class="btn btn-success btn-custom-size">
            Complete
          </button>
        </div>
      </form>
    </div>
  </div>
  