<div class="login-form">
  <aside class="col-lg-4">
    <div class="card">
      <article class="card-body">
        <h4 class="card-title text-center">{{ title }}</h4>
        <form method="post" [formGroup]="formResetPassword" (ngSubmit)=change(formResetPassword.value)>
          <div class="form-group mb-4">
            <label>New Password</label>
            <input name="" formControlName="password" class="form-control" placeholder="******" type="password">
            <div class="text-danger"
              *ngIf="formResetPassword?.controls?.password?.touched && formResetPassword?.controls?.password?.errors?.required ">
                New Password
              </div>
              <div class="text-danger"
                *ngIf="formResetPassword?.controls?.password?.errors?.pattern && formResetPassword?.controls?.password?.touched">
                New Password must have at least 6 characters, 1 lowercase letter, 1 uppercase letter, 1 number and 1 special character (!,@,#,$,%,&,*,..).
              </div>
          </div>
          <div class="form-group mb-4">
            <label>Re-type Password</label>
            <input name="" formControlName="confirmPassword" class="form-control" placeholder="******" type="password">
            <div class="text-danger"
                *ngIf="formResetPassword?.controls?.confirmPassword?.touched && formResetPassword?.hasError('mismatchedPasswords')">
                Passwords must match.
              </div>
          </div>
          <ngb-alert *ngIf="errorMessage" [type]="'danger'" [dismissible]="false">{{errorMessage}}</ngb-alert>
          <div class="form-group d-flex justify-content-center">
            <button type="submit"
            msLoadingButton
            [loading]="isCallingApi"
            class="btn btn-primary btn-custom-size"> Confirm </button>
          </div>
        </form>
      </article>
    </div>
  </aside>
</div>
