<form (ngSubmit)="submit()">
  <div class="search-jobs-options">
    <div class="search-jobs-options__top">
      <div class="search-box-multi">
        <input type="text" placeholder="Search" [(ngModel)]="query.name" name="name">
        <div class="search-box-icon">
          <svg-icon src="assets/icons/search.svg"></svg-icon>
        </div>
        <button type="submit" msLoadingButton [loading]="isSearching" class="btn btn-primary btn-find-jobs">
          Search Jobs
        </button>
        <a class="btn-search-multi" [ngClass]="{'active-search' : isShow}" (click)="toogleShowSearch()">
          <svg-icon src="assets/icons/filter-icon.svg"></svg-icon>
        </a>
        <a class="sort-by">
          <div ngbDropdown class="d-inline-block sort-dropdown">
            <a id="dropdownFilterJobs" ngbDropdownToggle [ngClass]="{active : orderBy !== undefined}">
              <fa-icon [icon]="['fas', 'sort-amount-up']"></fa-icon>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownFilterJobs" *ngIf="type != TAB_TYPE.DRAFT">
              <button ngbDropdownItem *ngFor="let sort of listSort" [ngClass]="{active : orderBy == sort.id}"
                (click)="changeSort(sort)">
                {{sort.name}}
              </button>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownFilterJobs" *ngIf="type == TAB_TYPE.DRAFT">
              <button ngbDropdownItem *ngFor="let sort of listSortDraftTab" [ngClass]="{active : orderBy == sort.id}"
                (click)="changeSort(sort)">
                {{sort.name}}
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="search-jobs-options__multi" *ngIf="isShow">
      <div class="select-category">
        <p class="multi-title">Category</p>
        <ng-select
          class="select-location-search"
          [items]="listCategory"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="query.category"
          [virtualScroll]="true"
          [ngModelOptions]="{standalone: true}"
        >
        </ng-select>
      </div>
      <div>
        <p class="multi-title">Created Date</p>
        <div class="box-create-date">
          <div class="box-create-date__inner">
            <p>From</p>
            <!--Ng datepicker-->
            <div class="input-group box-date-custom">
              <input class="form-control" [readonly]="true" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker
                #dFrom="ngbDatepicker" [firstDayOfWeek]="7" (dateSelect)="onDateSelectionFrom($event)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dFrom.toggle()" type="button">
                  <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                </button>
              </div>
            </div>
            <!-- <input type="date" [(ngModel)]="query.createdAtFrom" name="from"/> -->
          </div>
          <div class="box-create-date__inner search-date-to">
            <div>
              <p>To</p>
              <!--Ng datepicker-->
              <div class="input-group box-date-custom">
                <input class="form-control" [readonly]="true" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker
                  #dTo="ngbDatepicker" [firstDayOfWeek]="7" (dateSelect)="onDateSelectionTo($event)">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="dTo.toggle()" type="button">
                    <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                  </button>
                </div>
              </div>
              <!-- <input type="date" [(ngModel)]="query.createdAtTo" name="to"/> -->
            </div>
            <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
          </div>
        </div>
      </div>
      <div class="box-location" *ngIf="listCountry.length > 0">
        <p class="multi-title">Location</p>
        <!-- <input type="text" class="select-control" [ngbTypeahead]="selectCountry" [(ngModel)]="query.location"
          name="location" /> -->
        <ng-select
          class="select-location-search"
          [items]="listCountry"
          [(ngModel)]="query.location"
          [virtualScroll]="true"
          [ngModelOptions]="{standalone: true}"
        >
        </ng-select>
      </div>
      <div class="box-check-list">
        <label class="check-box__item" *ngFor="let type of jobTypes">
          <input type="checkbox" [value]="type.id" (change)="changeTypeJob($event.target.value)">
          <span class="check-icon-custom"></span>
          <span class="text-checkbox">{{type.value}} </span>
        </label>
      </div>
    </div>

    <!-- <div *ngIf="isShow">
      <button type="submit" msLoadingButton [loading]="isSearching" class="btn btn-primary mb-4 btn-border">
        Search Jobs
      </button>
    </div> -->
    <div class="options-add-jobs">
      <a (click)="showModalAddNewJobFromScratchOrtemplate()"
        [hidden]="userData ? permissionService.checkCantPermissionUser(userData, permission.CHANGE_JOB): true">
        <img src="assets/images/add-pluss-1@2x.png" alt="job" style="width:17px">
        <span>New Job</span>
      </a>
    </div>
  </div>
</form>
