.text-danger {
  font-size: 12px;
  margin-top: 10px;
}
.note-select-avatar {
  color: #e91717;
  font-size: 13px;
  margin-bottom: 6px;
}
image-cropper, .preview-avatar {
  width: 300px;
}
.preview-avatar {
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}
.btn-cancel-upload-file {
  margin-top: -5px;
  margin-left: 6px;
}