<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add/Remove Members</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="report-body">
      <div class="list-member" *ngFor="let user of listUser, index as i">
        <div class="member-item cursor-pointer">
          <div class="item-content">
            <div class="img">
              <img [src]="user.profile_picture" onerror="this.src='assets/images/jobseeker_1.jpg'"/>
            </div>
            <div class="content">
              <p class="title">{{user.first_name}} {{user.last_name}}</p>
              <p class="desc">{{user.employer_title}}</p>
            </div>
          </div>
          <div class="icon" (click)="inviteToGroupChat(user.id, i)" *ngIf="!user.chat_group_member_id">
            <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
          </div>
          <div class="icon" (click)="inviteToGroupChat(user.id,i, 'remove')" *ngIf="user.chat_group_member_id">
            <fa-icon [icon]="['fas', 'minus-circle']"></fa-icon>
          </div>
        </div>
      </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-success" msLoadingButton [loading]="isSearching">Add</button>
        </div> -->
    </div>
  </div>
</div>
