.require-value {
  top: -3px;
  color: red;
}

.form-group > input.input-date {
  background-color: #fff !important;
}

.tool-tip {
  width: 40px;
}

.text-danger {
  color: red;
  font-size: 13px;
}
