<div class="modal-wrapper">
  <div class="modal-header">
    <h4 class="modal-title">Sign Up Access Code</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center mb-4">Enter the access code sent via SMS to {{phone}}</p>
    <form [formGroup]="formVerify" method="post" (ngSubmit)=send(formVerify.value)>
      <div class="form-group">
        <label>Access code</label>
        <input class="form-control" type="text" formControlName="code">
        <div class="text-danger"
          *ngIf="formVerify?.controls?.code?.touched && formVerify?.controls?.code?.errors?.required ">
          Access code is required!
        </div>
        <div class="text-danger"
          *ngIf="formVerify?.controls?.code?.touched && formVerify?.controls?.code?.errors?.minlength ">
          Access code must be at least {{codeLength}} characters!
        </div>
        <div class="text-danger"
          *ngIf="formVerify?.controls?.code?.touched && formVerify?.controls?.code?.errors?.maxlength ">
          Access code must be at least {{codeLength}} characters!
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-primary btn-custom-size" msLoadingButton [loading]="isCallingApi">
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
