<div class="back-home" (click)="backToHome()">
  <svg-icon src="assets/icons/back.svg"></svg-icon>
  <span class="go-home">Back to Homepage</span>
</div>
<div class="login-form">
  <aside class="col-lg-4">
    <div class="card">
      <article class="card-body">
        <div class="logo" (click)="backToHome()">
          <svg-icon src="assets/icons/logo-only-icon.svg"></svg-icon>
        </div>
        <h3 class="card-title text-center title-logo">MeasuredSkills</h3>
        <h4 class="card-title text-center">Forgot Password</h4>
        <form method="post" [formGroup]="formForgotPassword" (ngSubmit)=confirm(formForgotPassword.value)>
          <div class="form-group mb-4">
            <label>Your email</label>
            <input name="" formControlName="email" class="form-control" placeholder="Email" type="email" [pattern]="emailPattern">
            <div class="text-danger"
              *ngIf="formForgotPassword.controls.email.touched && formForgotPassword.controls.email?.errors?.required ">
                Email is required!
            </div>
            <div class="text-danger"
              *ngIf="formForgotPassword.controls.email.touched && formForgotPassword?.controls?.email?.errors?.pattern">
                Email is invalid!
            </div>
          </div>
          <ngb-alert *ngIf="errorMessage" [type]="'danger'" [dismissible]="false">{{errorMessage}}</ngb-alert>
          <div class="form-group d-flex justify-content-center">
            <button type="submit"
              msLoadingButton
              [loading]="isCallingApi"
              class="btn btn-primary btn-custom-size" > Confirm </button>
          </div>
        </form>
      </article>
    </div>
  </aside>
</div>
