<div class="chat-box-bg employer-messages" style="background-image: url({{API_S3}}/cdn/bg-chat.jpg);">
  <div class="container-chat">
    <div class="row">
      <div class="col-lg-12">
        <div class="chat-box">
          <aside class="col-left" [ngClass]="{'active': colLeftInMobile}">
            <a class="cursor-pointer close-col-left" (click)="closeColLeft()">
              <fa-icon [icon]="['far', 'times-circle']"></fa-icon>
            </a>
            <div class="job-seeker-card d-flex">
              <div class="chat-user-item__img" [class.has-logo]="user.employer_id">
                <img [src]="user.avatar" onerror="this.src='assets/images/jobseeker_1.jpg'"
                  alt="{{user.firstName}} {{user.lastName}}" class="avatar" />
              </div>
              <div class="chat-user-item__summary d-flex align-items-center flex-wrap">
                <h2 style="margin: 0;">{{user.firstName}} {{user.lastName}}</h2>
              </div>
            </div>
            <div (keydown.enter)="search($event.target.value)">
              <header class="header-left">
                <div class="search-icon">
                  <svg-icon src="assets/icons/search-2.svg"></svg-icon>
                </div>
                <input type="text" placeholder="Search" class="search-company" (ngModelChange)="changeSearch()" [(ngModel)]="querySearch.q">
              </header>
            </div>
            <div class="list-jobs-chat list-conversation">
              <ms-loading-data-conversation [numberCard]="5" *ngIf="isSearching"></ms-loading-data-conversation>
              <div class="list-jobs-chat__inner" [hidden]="isSearching"
                infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollUpDistance]="2"
                [infiniteScrollThrottle]="150"
                (scrolled)="onScrollConversationList()"
                [scrollWindow]="false"
              >
                <div *ngFor="let conversation of dataConversation; index as i" id="group-{{conversation.group_id}}" class="group-chat">
                  <div class="list-applicants">
                    <div class="cursor-pointer chat-group-card" [ngClass]="{'no-padding-left': querySearch.isGroup == '0'}" [ngClass]="{actived: groupId == conversation.group_id}"
                      (click)="getListConversationDetail(conversation.group_id, true)">
                      <div class="chat-user-item" >
                        <ms-avatar-user *ngIf="conversation" [(conversation)]="dataConversation[i]"></ms-avatar-user>
                        <div class="chat-user-item__summary">
                          <h2 *ngIf="conversation" class="text-ellipsis">
                            <span> {{conversation?.jobSeeker_first_name}}</span>
                            <span> {{conversation?.jobSeeker_last_name}}</span>
                            <span> - {{ conversation.job_id ? conversation?.job_title : 'Direct Message'}}</span>  
                          </h2>
                          <p class="text-ellipsis" [ngClass]="{'unread-message': messageService.isUnreadMessage(conversation)}">
                            {{conversation.msg_sender_id == user.id ? 'You' : conversation.msg_sender_first_name}} {{conversation.msg_content && ':'}} {{conversation.msg_content}}
                          </p>
                        </div>
                        <p class="msg-number" *ngIf="messageService.isUnreadMessage(conversation)"></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-applicants" msLoadingButton [loading]="isViewMoreConversation" [hidden]="!isViewMoreConversation" style="text-align: center"> Loading more</div>
              </div>
            </div>
          </aside>
          <main class="col-right">
            <header class="header-right" *ngIf="isLoadingConversationDetail">
            </header>
            <header class="header-right" *ngIf="!isLoadingConversationDetail">
              <div class="company-info" *ngIf="groupInfo?.type == GROUP_TYPE.Nomal" >
                <div class="img" (click)="viewApplicantWithPrivateJob(isShowApplicant)">
                  <img [src]="listApplicants?.picture" onerror="this.src='assets/images/jobseeker_1.jpg'">
                </div>
                <div >
                  <h2>
                    <p *ngIf="listApplicants">
                      <span> {{listApplicants?.firstName}}</span>
                      <span> {{listApplicants?.lastName}}</span>
                    </p>
                  </h2>
                </div>
              </div>
              <div *ngIf="groupInfo?.type == GROUP_TYPE.Nomal && groupInfo?.job_id" class="interview-status">
                <p class="st-title mr-2">Interview Status:</p>
                <ms-list-icon-interview *ngIf="stage" [stage]="{id: stage}"></ms-list-icon-interview>
              </div>
              <div *ngIf="groupInfo?.type == GROUP_TYPE.Nomal && groupInfo?.job_id" class="interview-date">
                <span *ngIf="listApplicants?.scheduleTime" class="date-text">Interview Date:</span>
                <div *ngIf="listApplicants?.scheduleTime" class="time-date">
                  <span>{{listApplicants?.scheduleTime | date : 'MMM d, y'}}</span> - <span>{{listApplicants?.scheduleTime | date : 'h:mm a'}}</span>
                </div>
                <span *ngIf="listApplicants?.scheduleTime" class="ml-2 close-interview-date" (click)="closeExportICSFIle()"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>
              </div>
              <div class="option-views">
                <div class="cursor-pointer" (click)="showJobSeekerInfo()">
                  <fa-icon *ngIf="boxInfo" [icon]="['fas', 'times']"></fa-icon>
                  <fa-icon *ngIf="!boxInfo" [icon]="['fas', 'info-circle']"></fa-icon>
                </div>
              </div>
            </header>
            <div class="chat-group" [ngClass]="{'disabled-event': isUploading}">
              <div class="chat-group__message" msDragAndDrop (fileDropped)="onFileDropped($event)">
                <ul id="chat" *ngIf="isLoadingConversationDetail">
                  <ms-loading-conversation [numberCard]="1" ></ms-loading-conversation>
                </ul>
                <ul id="chat" #scrollChat (scroll)="onScroll($event)" *ngIf="!isLoadingConversationDetail">

                  <li [ngClass]="{'you': user.id !== message.user_id, 'me': user.id === message.user_id }"
                    *ngFor="let message of listMessages">
                    <!-- employer -->
                    <div class="user-info" *ngIf="user.id !== message.user_id && message.user_acc_type == USER_TYPE.EMPLOYER">
                      <div class="user-info__avt" [class.has-logo]="message.user_employer_id">
                        <img *ngIf="message.user_employer_id" [src]="message.user_profile_picture" onerror="this.src='assets/images/jobseeker_1.jpg'" class="avatar" />
                        <img *ngIf="message.user_employer_id" onerror="this.src='assets/images/employer_default_photo_1.png'" alt="logo-company" [src]="currentLogoCompany" class="company"/>
                        <img *ngIf="!message.user_employer_id"
                          [src]="message.user_profile_picture" onerror="this.src='assets/images/employer_default_photo_1.png'" class="avatar" />
                      </div>
                      <div>
                        <h2>{{message.user_first_name}} {{message.user_last_name}}</h2>
                        <p >{{message.user_employer_title}}</p>
                      </div>
                    </div>
                    <!-- job seeker -->
                    <div class="user-info" *ngIf="user.id !== message.user_id && message.user_acc_type == USER_TYPE.JOB_SEEKER">
                      <ms-avatar-user *ngIf="message" [message]="message" [canViewProfile]="canViewProfile"></ms-avatar-user>
                      <p *ngIf="message">
                        <span>{{ message.user_first_name}}</span>
                        <span> {{message?.user_last_name}}</span>
                      </p>
                    </div>
                    <div class="message user-message-text" *ngIf="user.id !== message.user_id">
                      <div class="message-download cursor-pointer my-message-item" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Complex">
                        <!-- <p class="time-sent">{{message.created_at | date : 'h:mm a MMM d, y'}}</p> -->
                        <div [innerHTML]="message.content_html"></div>
                      </div>
                      <div class="message-download message-preview-file cursor-pointer" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Complex">
                        <ms-preview-file *ngIf="message.mime_type == CHAT_CONTENT_TYPE.File" [url]="message.content" [message]="message"></ms-preview-file>
                        <a *ngIf="message.mime_type == CHAT_CONTENT_TYPE.Image" (click)="showModalViewImage(message.content)">
                          <img [src]="message.content" >
                        </a>
                      </div>
                      <div class="message-download message-preview-file cursor-pointer" *ngIf="message.content_type == CHAT_CONTENT_TYPE.File">
                        <!-- <a href="{{message.content}}"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon></a> -->

                        <ms-preview-file [url]="message.content" [message]="message"></ms-preview-file>
                      </div>
                      <div class="message-download cursor-pointer" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Image">
                        <!-- <fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon> -->
                        <!-- <a (click)="imageService.downloadImage(message.content)"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon></a> -->
                        <a (click)="showModalViewImage(message.content)">
                          <img [src]="message.content" >
                        </a>
                      </div>
                      <div class="message__text" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Text">
                        {{message.content}}
                      </div>
                    </div>
                    <div class="my-message" *ngIf="user.id === message.user_id">
                      <div class="message-download cursor-pointer my-message-item" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Complex">
                        <p class="time-sent">{{message.created_at | date : 'h:mm a MMM d, y'}}</p>
                        <div [innerHTML]="message.content_html"></div>
                      </div>
                      <div class="message-download cursor-pointer my-message-item right" [ngClass]="{'message-preview-file': message.mime_type == CHAT_CONTENT_TYPE.File}" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Complex">
                        <ms-preview-file *ngIf="message.mime_type == CHAT_CONTENT_TYPE.File" [url]="message.content" [message]="message"></ms-preview-file>
                        <a *ngIf="message.mime_type == CHAT_CONTENT_TYPE.Image" (click)="showModalViewImage(message.content)">
                          <img [src]="message.content" >
                        </a>
                      </div>
                      <div class="message-download message-preview-file cursor-pointer my-message-item right" *ngIf="message.content_type == CHAT_CONTENT_TYPE.File">
                        <!-- <a href="{{message.content}}"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon>
                          <span class="file-name">
                            {{fileService.convertNameOfFile(message.content)}}
                          </span>
                        </a> -->
                        <ms-preview-file [url]="message.content" [message]="message"></ms-preview-file>
                      </div>
                      <div class="message-download cursor-pointer my-message-item" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Image">
                        <!-- <fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon> -->
                        <!-- <a (click)="imageService.downloadImage(message.content)"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon></a> -->
                        <p class="time-sent">{{message.created_at | date : 'h:mm a MMM d, y'}}</p>
                        <a (click)="showModalViewImage(message.content)" >
                          <img [src]="message.content">
                        </a>
                      </div>
                      <div class="my-message-item" *ngIf="message.content_type == CHAT_CONTENT_TYPE.Text">
                        <p class="time-sent">{{message.created_at | date : 'h:mm a MMM d, y'}}</p>
                        <p class="my-message-text">{{message.content}}</p>
                      </div>
                      <p class="my-message-status">{{message.isRead}}</p>
                    </div>
                  </li>
                </ul>
                <div class="drop-icon cursor-pointer">
                  <svg-icon src="assets/icons/import.svg"></svg-icon>
                  <h4>Drop file here to upload</h4>
                </div>
                <div class="loading-icon" *ngIf="isUploading">
                  <svg-icon src="assets/icons/loading.svg"></svg-icon>
                </div>
                <footer class="footer-chat" >
                  <div class="footer-chat__left" style="display: block;" [hidden]="currentJobseeker?.jobseeker_is_deleted == 1 || currentJobseeker?.jobseeker_is_user_deleted == 1 || currentJobseeker?.jobseeker_user_status == USER_STATUS.deactive">
                    <div *ngIf="fileDrop !== null" class="file-drop">
                      <div class="file-container" [ngClass]="{'attach-document': fileDrop.type === CHAT_CONTENT_TYPE.File}">
                        <img *ngIf="fileDrop.type === CHAT_CONTENT_TYPE.Image && fileDrop.url" [src]="messageService.genUrl(fileDrop.url, true)" onerror="this.src='assets/images/picture-message.png'">
                        <div *ngIf="fileDrop.type === CHAT_CONTENT_TYPE.File" class="attachment">
                          <div class="file-icon">
                            <fa-icon [icon]="['far', 'file-alt']" style="font-size: 40px;"></fa-icon>
                          </div>
                          <div class="file-name">{{fileDrop.name}}</div>
                        </div>
                        <div class="delete-icon" (click)="deleteFile(fileDrop.url, null, true)">
                          <fa-icon [icon]="['fas', 'times']"></fa-icon>
                        </div>
                      </div>
                    </div>
                    <div style="display: flex; flex: 1;">
                      <textarea placeholder="Type your message" [(ngModel)]="message" (keyup.enter)="sendMessage()"></textarea>
                      <button type="submit" class="btn-send-msg" (click)="sendMessage()">
                        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
                      </button>
                    </div>
                  </div>
                  <div class="message-deactivate-account" *ngIf="currentJobseeker?.jobseeker_is_deleted == 1 || currentJobseeker?.jobseeker_is_user_deleted == 1 || currentJobseeker?.jobseeker_user_status == USER_STATUS.deactive">
                    <span >This account is temporary deactivated</span>
                  </div>
                  <div class="footer-chat__right" [ngClass]="{'have-attachment': fileDrop !== null}">
                    <div class="cursor-pointer" style="margin: 0 5px;" [hidden]="currentJobseeker?.jobseeker_is_deleted == 1 || currentJobseeker?.jobseeker_is_user_deleted == 1 || currentJobseeker?.jobseeker_user_status == USER_STATUS.deactive">
                      <input type="file" multiple id="upload-img" class="d-none" (change)="handleUpload($event)">
                      <label for="upload-img" class="mb-0 cursor-pointer">
                        <fa-icon [icon]="['fas', 'paperclip']"></fa-icon>
                      </label>
                    </div>
                  </div>
                </footer>
              </div>
              <div class="chat-group__applicants" *ngIf="boxInfo">
                <a class="cursor-pointer close-col-left" (click)="closeApplicantsInfo()">
                  <fa-icon [icon]="['far', 'times-circle']"></fa-icon>
                </a>
                <ms-info-card *ngIf="groupInfo && !isSearching"
                  [totalJobseekerMsg]="totalJobseekerMsg"
                  [potentialCandidate]="potentialCandidate"
                  [(listApplicant)]="listApplicants"
                  (callApi)="callbackApi()"
                  [groupChat]="groupInfo"
                  [(voteResponsive)]="voteResponsive"
                  [user]="user"
                  (rateBot)="onRateBot($event)"
                  (requestShowAvatar)="requestShowAvatar()"
                  (viewApplicantWithPrivateJob)="viewApplicantWithPrivateJob($event)"
                  (rateApplicant)="rateApplicant($event)"
                  (showModalViewImage)="showModalViewImage($event)"
                  ></ms-info-card>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalViewImage>
  <ms-modal-view-image (close)="modalViewImageRef.close()"></ms-modal-view-image>
</ng-template>
