<div class="container container-custom">
  <div class="row">
    <div class="col-lg-12">
      <div class="profile-page">
        <div class="profile-page__inner">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
            <li ngbNavItem="profile" [routerLink]="'/employer-profile/profile'">
              <a ngbNavLink>
                <fa-icon [icon]="['fas', 'user-alt']" class="mr-2"></fa-icon>
                <span>User Information</span>
              </a>
              <ng-template ngbNavContent>
                <div class="user-information">
                  <h3 class="mb-5 title-profile">User Information</h3>
                  <ms-company-information></ms-company-information>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="company-profile" [routerLink]="'/employer-profile/company-profile'">
              <a ngbNavLink>
                <fa-icon [icon]="['fas', 'user-alt']" class="mr-2"></fa-icon>
                <span>Company Profile</span>
              </a>
              <ng-template ngbNavContent>
                <div class="user-information">
                  <h3 class="mb-5 title-profile">Company Profile
                    <span (click)="goToPreviewEMployer()" class="preview-company"> <fa-icon [icon]="['fas', 'search']" class="ml-2"></fa-icon> Preview</span>
                  </h3>
                  <ms-company-profile></ms-company-profile>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="password" [routerLink]="'/employer-profile/password'">
              <a ngbNavLink>
                <fa-icon [icon]="['fas', 'key']" class="mr-2"></fa-icon>
                <span>Password</span>
              </a>
              <ng-template ngbNavContent>
                <div class="user-information">
                  <h3 class="mb-5 title-profile">Password</h3>
                  <ms-password-management></ms-password-management>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="ml-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

