<ms-primary-menu></ms-primary-menu>
<div class="header-width-tabs no-tab">
    <div class="container container-extra">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">
                    Terms Of Service
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container container-extra">
    <div class="privacy-policy">
        <h1 class="font-heavy">MeasuredSkills Terms of Service</h1>
        <p>Last Updated June 13, 2021</p>
        <h1>Overview</h1>
        <p>Each time you access or use MeasuredSkills online and/or mobile services and websites, including but
            not limited to any MeasuredSkills mobile application and browser extension or plugin (collectively the
            “MeasuredSkills Apps”), regardless of where it is downloaded from, and any software, service, feature,
            product, program and element provided by or on behalf of MeasuredSkills on or in connection with such
            services or websites (collectively, the “Site”), including, but not limited to, any products, programs, and
            services described in these Terms of Service, (a) you represent that you have read and understand the
            Privacy Policy; and (b) you are agreeing to the terms and conditions of these Terms of Service (the
            “Agreement”) then in effect with the following entity: <b>Measured Skills LLC. 704 228th Ave. NE #763
                Sammamish WA 98074 United States</b></p>
        <p>The Site is made available for use only by individuals searching for employment openings, or services or
            information related to their personal employment or job search (“Jobseekers”), by individuals and/or
            organizations seeking information related to hiring or human resources or seeking to make available
            information regarding employment openings, on their behalf or other’s behalf, including but not limited to
            agencies purchasing for multiple parties (“Employers”). You acknowledge and agree that your license to
            use the Site is automatically revoked upon your attempt to use the Site for any other purpose. If you are
            accessing or using the Site in your capacity as an employee or other representative of an Employer you
            are agreeing to this Agreement on behalf of yourself and such Employer, as applicable, and you
            represent and warrant that you have the authority to bind such Employer or Publisher, as applicable, to
            this Agreement. You acknowledge that MeasuredSkills owns a copyright in the Site, MeasuredSkills
            Apps, and Services, including in compilations of information available through any of the foregoing. For
            purposes of this agreement, all references to “you” or “your” shall mean you, the individual user or
            organization accessing this Site in your capacity as a user in the context of an Employer user or
            Jobseeker user as and where applicable.
        </p>
        <p>We may change this Agreement by notifying you of such changes by any reasonable means, including by
            posting a revised Agreement through the Site. Any such changes will not apply to any claim brought prior
            to the date on which we posted the revised Agreement incorporating such changes, or otherwise notified
            you of such changes. Your access to or use of the Site following any changes to this Agreement will
            constitute your acceptance of such changes. The “Last Updated” header in this agreement indicate when
            this Agreement was last changed. We may, at any time and without liability, modify or discontinue all or
            part of the Site (including access to the Site via any third-party links); charge, modify or waive any fees
            required to use the Site; or offer opportunities to some or all Site users.</p>
        <h2>1. Introduction</h2>
        <p>
            MeasuredSkills is an online job marketplace for the provision and review of Skills Assessments selected
            by Employers (“Assessments”) and responses from Jobseekers (“Responses”) through the Site. Library
            assessment content provided on MeasuredSkills is used under license from a 3 rd Party. All content and
            the delivery Site, once redirected, for these assessments is the intellectual property of said 3 rd Party
            and
            is governed separately by their Terms of Service. Once a Jobseeker completes an assessment provided
            by the 3 rd Party, the scores and data are transmitted securely to and stored by MeasuredSkills.
        </p>

        <h2>2. User Accounts and Payments</h2>
        <p>It is free for both Employers and Jobseekers to create user accounts. Employers may also create free
            secondary user accounts with permissions levels set by the primary account holder. MeasuredSkills
            charges a variety of fees to Employers to use certain services of the Site. These include fees to post job
            listings, promote a job, and to directly contact Jobseekers in certain circumstances. These direct contact

            messages are termed “Direct Messages or DM’s). Employers may purchase and bank credits to initiate
            these DM’s. Jobseekers can attempt each catalog assessment a specified number of times for free. Once
            those free attempts have been used, they can earn free retake credits by referring friends or purchase
            additional retake credits. These credits are banked until used. This is to prevent excessive guessing on
            assessments. This is intended to prevent guessing and abuse. The number of free attempts and retake
            credit fees are subject to change at the discretion of MeasuredSkills at any time and for any reason with
            or without prior notice. Fees collected through the site are non-refundable unless otherwise required by
            law. All payments collected through the Site are processed by a 3 rd Party and therefore also subject to
            their terms of service. Any credit card saved on the Site is not directly stored by MeasuredSkills. It is
            securely tokenized by a 3 rd Party service and the credit card details are security stored by that 3 rd
            Party.
            Only the token is stored by MeasuredSkills and transmitted to the 3 rd Party processor. Sales tax is
            collected as and where required by law. Sales tax rates are calculated by a 3 rd Party provider.</p>
        <h2>3. Job Posts</h2>
        <p>MeasuredSkills, which is free to those individuals searching for employment openings (“Jobseekers”),
            through MeasuredSkills’ search results or otherwise through the Site. Searching for jobs on
            MeasuredSkills is free for Jobseekers. If you leave the MeasuredSkills Site and choose to enter a 3 rd party
            website, you accept any terms of service imposed by that third-party. MeauredSkills cannot confirm the
            accuracy or completeness of any job post or other information submitted by any Employer or other user,
            including the identity of such Employer or other user. MeasuredSkills assumes no responsibility, and
            disclaims all liability for the content, accuracy, completeness, legality, reliability, or availability of
            any job
            post, company pages, questions asked by Employers through our messaging app, and assessments
            provided by 3 rd parties, including custom assessments created by Employers. Additionally,
            MeasuredSkills may provide search options to narrow down job search results by job type categories (i.e.
            full-time, part-time, etc.), and such categories are created independently and entirely by MeasuredSkills,
            and may not directly or accurately reflect the content of the Job Ads. MeasuredSkills may reformat job
            posts so that you may read them more clearly on a mobile phone. MeasuredSkills displays job post
            results based on a combination of factors, including whether the employer has paid to feature their job,
            search terms, linked assessment relevancy and other activity on MeasuredSkills. You are not permitted to
            use MeasuredSkills’ Site or its content other than for non-commercial purposes.</p>
        <h2>4. Jobseeker Profiles and Recommended Jobs</h2>
        <p>
            As a Jobseeker, by creating a public profile through the Site, you are requesting and authorizing
            MeasuredSkills to make available your profile to third parties, such as Employers, that MeasuredSkills
            believes may have an interest in your profile. MeasuredSkills assumes no responsibility and disclaims all
            liability for the application information you post, send, or receive through the Site. If you see any
            inaccuracy in any such material, it is your responsibility to correct such information or to contact
            MeasuredSkills to do so. To protect your privacy, MeasuredSkills may mask or hide your contact
            information, such as your email address, from your profile and may substitute it with an alias.</p>
        <p>As a Jobseeker, you also have the option to make your profile private. When this option is selected, you
            may continue to apply to jobs through the platform but you will not be discoverable to Employers in the
            Find Candidates feature. You may opt-in to this setting under your account Profile.</p>
        <p>MeasuredSkills may also automatically send you recommended jobs via the email address you use to
            create an MeasuredSkills account or apply to a job. MeasuredSkills may determine what these
            recommended jobs are on the basis of a variety of factors, including but not limited to, any information
            you input on the Site about yourself, searches you run on the Site, jobs you click on, jobs you apply to,
            your assessment scores, or the materials you provide in a job application to an Employer through
            MeasuredSkills.

        </p>
        <h2>5. Applying to Jobs Through MeasuredSkills</h2>
        <p>Any information that you submit through the Site is subject to this Agreement and to MeasuredSkills’
            Privacy Policy. Once you provide information to an Employer (whether in the form of a job application,
            resume, email, or otherwise), MeasuredSkills does not have control over the Employer’s use or disclosure
            of that information. If you want to request the Employer delete, modify, or maintain confidence over any
            such information, you must make such a request directly to the Employer. MeasuredSkills may store such
            information regardless of whether a job post has been closed or is no longer available on the Site. To
            maintain the quality of the Site and Services, MeasuredSkills in its sole discretion may impose limits on
            your ability to apply to jobs or to use other MeasuredSkills services.</p>
        <p>If you require alternative methods of screening or application, you must approach the Employer directly to
            request such as MeasuredSkills is not responsible for the Employer application process.</p>
        <p>By using MeasuredSkills, you agree that MeasuredSkills is not responsible for the content of the
            Employer’s job application, messages, screener questions, choice of skills assessments, and that
            MeasuredSkills. Please note that MeasuredSkills does not choose the questions asked by Employers or
            decide the job qualification criteria of Employers. MeasuredSkills does not guarantee the validity of a
            job offer and cautions Jobseekers to verify the validity of a job offer before taking an adverse
            action regarding their current employment situations. Jobseekers are solely responsible for
            verifying the accuracy of any Employer or job offer.</p>
        <h2>6. Assessments</h2>
        <p>As an Employer, you agree you have made the determination to use MeasuredSkills as part of your
            application process, and that the Assessments selected for a Jobseeker to complete are solely being
            asked by you and are not being asked by its Partners, Affiliates, and Licensors. You agree you are solely
            responsible for the use of Assessments and Responses in compliance with the law, including the Fair
            Credit Reporting Act and similar state statutes. You are solely responsible for your use of MeasuredSkills,
            including without limitation any results which are considered to have a “disparate impact.” You further
            agree that you are solely responsible for offering alternative methods of screening, if so required by the
            Americans with Disabilities Act or any other equivalent state act. You acknowledge that MeasuredSkills
            its Partners, Affiliates, and Licensors may, but is not obligated to, provide a means by which Jobseekers
            may request such an alternative method or other accommodation from you. Its Partners, Affiliates, and
            Licensors do not warrant that the method of delivery of any Assessment questions. The Employer is the
            sole party to determine which Assessment(s) to link to a Job. You agree that an Assessment is only
            designed to evaluate a particular skill. It does not evaluate a Jobseeker’s complete qualification for any
            job nor their ability to safely perform a job. Whether a particular skill is relevant to a job, or whether a
            Jobseeker is qualified or appropriate for a job, is decided solely by you. MeasuredSkills, its Partners,
            Affiliates, and Licensors reserve the right to change any Assessment or the questions asked within an
            Assessment at any time, for any or no reason, including but not limited to quality control.</p>
        <p>You consent to your Assessment and any other communications sent through MeasuredSkills being
            processed and analyzed by MeasuredSkills according to this Agreement and MeasuredSkills’ Privacy
            Policy.</p>
        <p>Jobseekers can attempt each catalog assessment a specified number of times for free. The number of
            times is set by MeasuredSkills and subject to change at the discretion of MeasuredSkills for any reason
            with or without prior notification. After that, they can earn free retake credits by referring friends or
            purchase additional retake credits. This is to prevent excessive guessing on assessments. Jobseekers
            can only take an employer’s custom assessment once when you apply. These are not accessible via the
            catalog. Jobseekers will have the option to retake an Employer’s custom assessment after 30 days if you
            apply to another job that uses the same assessment.</p>

        <h2>7. Rules for Employers Using MeasuredSkills</h2>
        <p>As an Employer you are the sole party to determine whether a Jobseeker is qualified.
            You acknowledge and agree that Responses are only provided on the condition that you use them
            responsibly and legally as part of your hiring process, which includes considering any other relevant
            information about the Jobseeker.</p>
        <p>As an Employer, you represent and warrant that you shall not access or use MeasuredSkills
            Assessments for any directly or indirectly illegal, discriminatory, or fraudulent purpose. You shall not
            create any Assessment which is directly or indirectly illegal, discriminatory, fraudulent, threatening,
            abusive, libelous, defamatory, obscene, or otherwise objectionable, or that contains sexual, ethnic, racial,
            or other discriminating slurs, or that contains no relevant or constructive content. Employers who create
            custom assessments in the MeasuredSkills Site consent to the full, irrevocable transfer of ownership of
            those questions and answers to MeasuredSkills.</p>
        <p>You shall not create any Assessment containing proprietary information, trade secrets, confidential
            information, advertisements, solicitations, chain letters, pyramid schemes, investment opportunities, or
            other unsolicited commercial communication (except as otherwise expressly permitted by us in writing).
            MeasuredSkills is not a tool to ask for sensitive personal data from Jobseekers. Employers may not
            create or send any Assessment which seeks highly confidential personal information from Jobseekers,
            such as bank account or credit card information, online account information, social security numbers (or
            similar counterparts outside the United States of America), health information, or other categories of
            personal data subject to data breach notification requirements in any country. </p>
        <p>An Employer who receives an accommodation request through MeasuredSkills Assessments must
            provide an accommodation to the extent required by applicable law, and further must provide evidence of
            compliance to MeasuredSkills immediately upon request. Any failure to fulfill these obligations is a
            material breach of this Agreement and MeasuredSkills may immediately terminate your account and your
            access to the Site with no further obligation to you. You agree to defend and indemnify MeasuredSkills
            from any claims arising from your failure to comply with this section.
            You understand and agree that MeasuredSkills does not have any obligation to screen any
            Assessment or Response, or to publish any Assessment or Response on the Site, and may
            exclude or remove any Assessment or Response from the Site for any or no reason without
            liability or notice.</p>
        <h2>8. MeasuredSkills Role</h2>
        <p>MeasuredSkills does not act as an employment agency. By using MeasuredSkills, you acknowledge and
            agree that MeasuredSkills is not procuring employees for Employers or procuring opportunities to work for
            Jobseekers. MeasuredSkills merely provides a Site enabling Employers to post jobs and select and
            create assessments relevant to those jobs that by completing allow Jobseekers to apply for said jobs. The
            sole responsibility for the content of any Assessment or Response, any requests for interviews or offers
            made, any issues arising from an acceptance or denial of employment, and any other issues arising from
            the use of MeasuredSkills, is solely with Employers or Jobseekers as applicable.</p>
        <p>MeasuredSkills cannot confirm the information submitted by any Jobseeker, or other user, including the
            identity of any user. MeasuredSkills does not inquire into the backgrounds of Jobseekers or attempt to
            verify the statements of Jobseekers. You are responsible for conducting any background checks,
            reference checks, or other due diligence that you may require before making an offer of employment to a
            Jobseeker. You are responsible for complying with all laws and regulations relating to the intended
            employment of any Jobseeker. Further, for any skill area in which formal licenses or certifications may
            exist, Assessments do not act as a substitute for such license or certification and do not speak to whether
            a Jobseeker is qualified for or has such a license or certification. It is the Employer’s sole
            responsibility to

            determine what licenses or certifications are required for their job and whether a Jobseeker has such
            license or certification. MeasuredSkills also makes no statement as to whether a particular skill is
            necessary for a job and it is an Employer’s sole responsibility to make such a determination (or seek
            appropriate legal counsel to do so), in accordance with the EEOC regulations or other applicable laws.</p>
        <p>MeasuredSkills is not a party to, third party beneficiary of, or liable for, any agreements, offers, or
            promises between an Employer and Jobseeker, regardless of whether MeasuredSkills receives a fee
            from the Employer or Jobseeker in connection with the transaction. MeasuredSkills will not be liable for
            any costs or damages arising out of or related to such transaction.
            MeasuredSkills assumes no responsibility, and disclaims all liability, for the content, accuracy, validity,
            completeness, legality, reliability, or availability of the Site, content provided by its Partners, and any
            Assessment or Response.</p>
        <h2>9. Intellectual Property, Copyright, and Trademarks</h2>
        <p>The entire content included in this site, including but not limited to text, graphics or code is the
            intellectual
            property of MeasuredSkills and copyrighted as a collective work under the United States and other
            international copyright laws. The collective work includes works that are licensed to MeasuredSkills.
            Permission is granted to use the Site as permitted by this agreement. Any other use, including but not
            limited to the reproduction, distribution, copying of source code, display or transmission of the content of
            this site is strictly prohibited, unless authorized by MeasuredSkills. You further agree not to change or
            delete any proprietary notices from materials downloaded from the site. All trademarks, logos, service
            marks and trade names of MeasuredSkills used in the site are trademarks or registered trademarks of
            MeasuredSkills and shall not be reproduced without express permission by MeasuredSkills.</p>
        <h2>10. Confidentiality</h2>
        <p>You agree to keep all information gained from using MeasuredSkills confidential. You agree that (1) you
            will use any content submitted by Jobseekers only in accordance with applicable privacy and data
            protection laws; (2) you will not disclose the names or identities or share the profile of any Jobseekers
            outside of your recruiting or hiring department; and (3) you will take appropriate physical, technical and
            administrative measures to protect content you obtain through use of MeasuredSkills from loss, misuse,
            unauthorized access, disclosure, alteration or destruction.</p>
        <h2>11. Disclaimer and Limitation of Liability</h2>
        <p>MEASUREDSKILLS AND ALL MATERIALS, INFORMATION, ASSESSMENTS, RESPONSES,
            PRODUCTS, AND SERVICES AVAILABLE ON OR THROUGH ITS SITE, ARE PROVIDED ON AN “AS
            IS” AND “AS AVAILABLE” BASIS, WITH NO WARRANTIES WHATSOEVER, EITHER EXPRESS OR
            IMPLIED.  MEASUREDSKILLS EXPRESSLY DISCLAIMS ALL WARRANTIES, INCLUDING WITHOUT
            LIMITATION ANY WARRANTY THAT ANY ASSESSMENT OR RESPONSE THAT HAS BEEN
            PROVIDED TO MEASUREDSKILLS IS VALID OR ACCURATE, THAT ANY COMMUNICATION
            (INCLUDING WITHOUT LIMITATION ASSESSMENTS AND RESPONSES) WILL REACH THE
            INTENDED RECIPIENT, THAT THE INTENDED RECIPIENT OF THE COMMUNICATION SENT AT
            YOUR REQUEST WILL READ IT, OR THAT THE INTENDED RECIPIENT OF YOUR
            COMMUNICATION WILL ACT UPON IT. MEASUREDSKILLS EXPRESSLY DISCLAIMS ALL OTHER
            WARRANTIES INCLUDING WITHOUT LIMITATION NONINFRINGEMENT, MERCHANTABILITY AND
            FITNESS FOR ANY PURPOSE. MEASUREDSKILLS DISCLAIMS ANY WARRANTY THAT
            MEASUREDSKILLS AND MATERIAL USED BY MEASUREDSKILLS UNDER LICENSE WILL BE
            ERROR-FREE OR UNINTERRUPTED OR THAT ALL ERRORS WILL BE CORRECTED.</p>
        <p>EXCEPT FOR YOUR BREACH OF SECTION 7 (CONFIDENTIALITY) OR INDEMNIFICATION
            AMOUNTS PAYABLE HEREUNDER, TO THE FULLEST EXTENT PERMITTED BY LAW: (a) NEITHER

            PARTY WILL BE LIABLE FOR ANY CONSEQUENTIAL, SPECIAL, INDIRECT, EXEMPLARY,
            PUNITIVE, OR OTHER DAMAGES WHETHER IN CONTRACT, TORT OR ANY OTHER LEGAL
            THEORY, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND NOTWITHSTANDING
            ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY; AND (b) EACH PARTY’S
            AGGREGATE LIABILITY TO THE OTHER IS LIMITED TO AMOUNTS PAID OR PAYABLE TO
            MEASUREDSKILLS BY YOU.</p>
        <h2>12. Indemnification</h2>
        <p>You agree to defend, indemnify and hold harmless MeasuredSkills from and against any and all claims,
            damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to
            attorney’s fees) arising from: (a) your violation of any term of this Agreement; (b) your use of, and access
            to, MeasuredSkills; (c) your loss of, or disclosure of, information gained from using MeasuredSkills; (d)
            your violation of any applicable laws or regulations, including but not limited to the Fair Credit Reporting
            Act, any applicable employment, equality, or discrimination laws, and any applicable data protection or
            privacy laws; (e) your violation of any third party right, including without limitation any copyright,
            property,
            or privacy right; (f) any claim that your content caused damage to a third party; or (g) your actions as an
            Employer, including without limitation doing or not doing the following: screening, hiring, promoting, or
            demoting any employee or Jobseeker. You also agree that you have a duty to defend MeasuredSkills
            against such claims. You agree that this indemnity extends to requiring you to pay for MeasuredSkills
            reasonable attorneys’ fees, court costs, settlements, and disbursements. This defense and
            indemnification obligation will survive this Agreement and your use of MeasuredSkills.</p>
        <h2>13. Termination</h2>
        <p>MeasuredSkills may alter, update, change, and/or modify our Site, our license and partnership
            agreements, change our Assessment catalog/offerings, suspend your account, or any other provision of
            tools to you, and we may terminate this Agreement with you, at our sole discretion, at any time, with or
            without notice. If you wish to terminate this Agreement, you may do so by notifying MeasuredSkills at any
            time and closing your account. All provisions of this Agreement which by their nature should survive
            termination shall survive termination, including without limitation, ownership provisions, warranty
            disclaimers, indemnity, and limitations of liability.</p>
    </div>
</div>
<ms-footer-bottom></ms-footer-bottom>