<div class="border-box">
  <p class="border-box__title">Change your password</p>
  <div class="profile-content set-password">
    <form>
      <div class="form-group">
        <label>Current Password</label>
        <input class="form-control" type="password" placeholder="******">
        <small class="text-danger">Invalid</small>
      </div>

      <div class="form-group">
        <label>New Password</label>
        <input class="form-control" type="password" placeholder="******">
        <small class="text-danger">Invalid</small>
      </div>

      <div class="form-group">
        <label>Re-enter New Password</label>
        <input class="form-control" type="password" placeholder="******">
        <small class="text-danger">Invalid</small>
      </div>

      <div class="form-group">
        <div class="d-flex align-items-start">
          <button type="button" class="btn btn-primary btn-custom-size mb-4 mr-4"> Save</button>
          <button type="button" class="btn btn-danger btn-custom-size"> Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
