<div class="applicants-page">
  <div class="header-width-tabs">
    <div class="container container-extra">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h2 class="title title-assessment">Assessments</h2>
            <div class="tabs-title">
              <a class="tabs-title__item active"> Custom Assessments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-extra">
    <div class="row">
      <div class="col-lg-12">
        <div *ngIf="userData">
          <ms-custom-assessments [userData]="userData"></ms-custom-assessments>
        </div>
      </div>
    </div>
  </div>
