<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="profile-page">
        <div class="profile-page__inner">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
            <li ngbNavItem="profile">
              <a ngbNavLink [routerLink]="'/job-seeker-profile/profile'">
                <fa-icon [icon]="['fas', 'user-alt']" class="mr-2"></fa-icon>
                <span>User Information</span>
              </a>
              <ng-template ngbNavContent>
                <h3 class="payment-title mb-4">User Information</h3>
                <div class="tab-info-user">
                  <div class="tabs-title">
                    <a class="tabs-title__item" (click)="changeTabUser(TAB_JOBSEEKER_INFO.MY_INFO)"
                      [ngClass]="{active: tabUserInfo == TAB_JOBSEEKER_INFO.MY_INFO}">
                      <span>My Info</span>
                    </a>
                    <a class="tabs-title__item" (click)="changeTabUser(TAB_JOBSEEKER_INFO.DEMOGRAPHIC_SURVEY)"
                      [ngClass]="{active: tabUserInfo == TAB_JOBSEEKER_INFO.DEMOGRAPHIC_SURVEY}">
                      <span>Demographic Survey</span>
                    </a>
                  </div>
                </div>
                <div class="user-information" *ngIf="tabUserInfo == TAB_JOBSEEKER_INFO.MY_INFO">
                  <ms-user-informations></ms-user-informations>
                </div>
                <div class="user-information" *ngIf="tabUserInfo == TAB_JOBSEEKER_INFO.DEMOGRAPHIC_SURVEY">
                  <ms-pf-demographic-survey></ms-pf-demographic-survey>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="password">
              <a ngbNavLink [routerLink]="'/job-seeker-profile/password'">
                <fa-icon [icon]="['fas', 'key']" class="mr-2"></fa-icon>
                <span>Password</span>
              </a>
              <ng-template ngbNavContent>
                <h3 class="payment-title mb-4">Password</h3>
                <div class="user-information">
                  <ms-password-management></ms-password-management>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="ml-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

