.row-credit {
  display: flex;
  flex-wrap: wrap;
  @media (max-width:991px) {
    flex-direction: column;
  }
  &__center {
    padding: 0 40px;
    flex: 0 0 auto;
    margin-bottom: 10px;
    @media (max-width:991px) {
      padding: 0;
    }
    .btn-top-up {
      text-align: center;
      @media (max-width:991px) {
        width: 200px;
        margin-bottom: 15px;
      }
    }
  }

  .credit-item {
    p {
      display: flex;

      @media (max-width:576px) {
        flex-direction: column;
      }

      > span:first-child {
        min-width: 260px;
        display: block;
      }
    }
  }

  .refer-link {
    border: 1px solid #ddd;
    padding: 5px 15px;
    margin-right: 10px;
  }

  .icon-copy {
    font-size: 20px;
    margin-top: 5px;
  }

  .intro-friends {
    margin-bottom: 10px;
  }
}

.row-credit_left{
  align-self: center;
  margin-bottom: 10px;
}

.box-share-jobs {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

// pos for ie
_:-ms-fullscreen,
:root .share-jobs {
  bottom: -35px !important;
}
