h2 {
  margin: 40px 0 50px 0;
}
.box-steps__item {
  cursor: pointer;
  position: relative;
  .step-title {
    position: absolute;
    bottom: -20px;
    width: max-content;
  }
  .sub-step-title{
    position: absolute;
    bottom: -40px;
    font-weight: bold;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
.fa-w-14{
  font-size: 45px;
}

.arrow-right{
  justify-content: center;
  margin-bottom: 20px;
}
