.company-info {
  min-height: calc(100vh - 160px);
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 40px 0;
  &__inner {
    width: 650px;
    border:1px solid #D9D9D9;
    padding: 20px;
    @media (max-width: 768px) {
      width: 100%;
    }

    h4 {
      color: #000;
    }
  }
}

.comp-header {
  &__logo {
    width: 80px;
    border: 3px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  a {
    margin-left: auto;
  }
}