<ms-sliders [userInfo]="userInfo"></ms-sliders>

<!-- Box featured jobs -->
<ms-featured-jobs></ms-featured-jobs>

<!-- Box how measured Skills Works -->
<ms-skill-works></ms-skill-works>

<!-- Box featured Assessments -->
<ms-featured-assessments [userInfo]="userInfo"></ms-featured-assessments>

<!-- Box Find Your Next Job -->
<ms-find-your-next-job [userInfo]="userInfo"></ms-find-your-next-job>

<!-- Box users saying -->
<!-- <ms-user-saying-slider></ms-user-saying-slider> -->

<!-- Box get started today -->
<ms-get-started-today [userInfo]="userInfo"></ms-get-started-today>

<!-- Footer page -->
<ms-footer></ms-footer>