<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Buy Credits</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="top-up-body">
      <div class="row">
        <div class="col-lg-12">
          <ms-modal-step-shopping-cart [(cardInfo)]="cardInfo" [isPaymentTopupEmployer]="true" [step]="step"></ms-modal-step-shopping-cart>
        </div>
      </div>
      <div *ngIf="step == stepCreateJob.STEP_0">
        <div class="top-up-credits">
          <!-- If top up Item > 3 please add class max-items -->
          <div class="top-up-credits__inner" *ngIf="!isDmCandidate" [class.max-items]="settings.top_up.length > 3">
            <div class="top-up-item" [class.select-topup]="selectTopup?.name === topupOnePayment.name" (click)="selectTopupPayment(topupOnePayment)">
              <div class="top-up-item__header">
                <p class="title">{{topupOnePayment.name}}</p>
              </div>
              <div class="top-up-content">
                <div class="row-topup">
                  <p class="retakes-text">Number of retakes</p>
                  <input disabled type="text" [value]="topupOnePayment.num_retake " class="form-control" />
                </div>
                <p class="pay-only">Pay only</p>
                <p class="total-price">{{totlaPrice(topupOnePayment) | currency}}</p>
                <p class="instead-of">SAVE <span>{{savePrice(topupOnePayment) | currency}}</span></p>
              </div>
            </div>
            <div class="top-up-item" [class.select-topup]="selectTopup?.name === topup.name" *ngFor="let topup of settings.top_up"  (click)="selectTopupPayment(topup)">
              <div class="top-up-item__header">
                <p class="title">{{topup.name}}</p>
              </div>
              <div class="top-up-content">
                <div class="row-topup">
                  <p class="retakes-text">Number of retakes</p>
                  <input disabled type="text" [value]="topup.num_retake " class="form-control" />
                </div>
                <p class="pay-only">Pay only</p>
                <p class="total-price">{{totlaPrice(topup) | currency}}</p>
                <p class="instead-of">SAVE <span>{{savePrice(topup) | currency}}</span></p>
              </div>
            </div>
          </div>
          <div class="top-up-credits__inner" *ngIf="isDmCandidate"  [class.max-items]="settings.topup_credit.length > 3">
            <div class="top-up-item" [class.select-topup]="selectTopup?.name === topup.name" *ngFor="let topup of settings.topup_credit"  (click)="selectTopupPayment(topup)">
              <div class="top-up-item__header">
                <p class="title">{{topup.name}}</p>
              </div>
              <div class="top-up-content">
                <div class="row-topup">
                  <p class="retakes-text">Number of DM(s)</p>
                  <input disabled type="text" [value]="topup.num_dm " class="form-control" />
                </div>
                <p class="pay-only">Pay only</p>
                <p class="total-price">{{totlaPrice(topup) | currency}}</p>
                <p class="instead-of">SAVE <span>{{savePriceDmCandidate(topup) | currency}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row group-extra-coupon top-up-body mt-4">
          <div class="col-lg-8">
            <div class="d-flex align-items-center enter-coupon">
              <fa-icon [icon]="['fas', 'tags']"></fa-icon>
              <label class="mb-0 ml-2"><b>Enter Coupon: </b></label>
              <input style="width: 200px;" type="text" [(ngModel)]="couponText" class="form-control ml-2 mr-2">
              <button [disabled]="couponText === '' || !couponText" type="button" class="btn btn-success" (click)="checkCoupon()">Apply</button>
            </div>
            <div class="coupon-info text-danger"  *ngIf="ischeckCoupon && (!isValidCoupon || (couponData && couponData.discount_for != COUPON_DISCOUNT_FOR.DIRECT_MESSAGE && couponData.discount_for != COUPON_DISCOUNT_FOR.RETAKE))">Coupon is invalid.</div>
            <div class="coupon-info" *ngIf="couponData && isValidCoupon && (couponData.discount_for == COUPON_DISCOUNT_FOR.DIRECT_MESSAGE || couponData.discount_for == COUPON_DISCOUNT_FOR.RETAKE)">
              <label>Coupon Information:</label>
              <ul>
                <li *ngIf="couponData.discount_type == COUPON_DISCOUNT_TYPE.Percentage">Discount percentage for {{couponData.discount_for == COUPON_DISCOUNT_FOR.DIRECT_MESSAGE ? 'Direct Message' : 'Retake Credit'}}: {{couponData.discount_value}}%</li>
                <li *ngIf="couponData.discount_type != COUPON_DISCOUNT_TYPE.Percentage">Discount Fixed Dollar for {{couponData.discount_for == COUPON_DISCOUNT_FOR.DIRECT_MESSAGE ? 'Direct Message' : 'Retake Credit'}}: ${{couponData.discount_value}}</li>
                <li [hidden]="couponData.discount_type == COUPON_DISCOUNT_TYPE.FixedDollar || couponData.max_discount_value == 0">Maximum Discount in term of dollar value: ${{couponData.max_discount_value}}</li>
                <li [hidden]="couponData.is_nbr_user_limit == NBR_USER_LIMIT.Unlimit">Remaining number of time to apply this coupon: {{couponData.remaining_number}}</li>
                <li [hidden]="couponData.expired_type == COUPON_EXPIRED_TYPE.Unlimit">Valid until {{getExpiredFromCoupon()}}</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 total-amount">
            <h5 *ngIf="couponData && isValidCoupon && (couponData.discount_for == COUPON_DISCOUNT_FOR.DIRECT_MESSAGE || couponData.discount_for == COUPON_DISCOUNT_FOR.RETAKE)">Sub-Total: {{totlaPriceSelectedTopup() | currency}}</h5>
            <h5 *ngIf="couponData && isValidCoupon && (couponData.discount_for == COUPON_DISCOUNT_FOR.DIRECT_MESSAGE || couponData.discount_for == COUPON_DISCOUNT_FOR.RETAKE)">Discount: -{{getDiscountValueCoupon()| currency}}</h5>
            <div class="view-details-amount">
              <h5 *ngIf="couponData">Total Amount: {{caclTotalPayCardWithCoupon() | currency}}</h5>
              <h5 *ngIf="!couponData">Total Amount: {{totlaPriceSelectedTopup() | currency}}</h5>
            </div>
            <div *ngIf="checkConfirmPayment()">
              This one is on the house. It would cost us more to process this transaction than the amount you owe, so please enjoy your selection as complimentary.
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <!-- <button type="button" class="btn btn-success" (click)="submit()">Proceed to Payment</button> -->
          <div class="shopping-car-bottom" *ngIf="!checkConfirmPayment()">
            <button [disabled]="!selectTopup || totlaPriceSelectedTopup() <= 0" type="button" msLoadingButton (click)="continueBillingUpgrade()" class="btn btn-success">Continue</button>
          </div>
          <div class="shopping-car-bottom" *ngIf="checkConfirmPayment()">
            <button [disabled]="isLoadingPaymentTopup || !selectTopup || totlaPriceSelectedTopup() <= 0" type="button" msLoadingButton (click)="paymentFreeCart()" [loading]="isLoadingPaymentTopup" class="btn btn-success">Complete</button>
          </div>
        </div>
      </div>
      <ms-upgrade-job-step1  
        (close)="closeModal($event)"
        *ngIf="( step == stepCreateJob.STEP_1 || step == stepCreateJob.STEP_2 ) && senDataStep2"
        (back)="backStep()"
        (continueStep)="continuteStep($event)"
        [senData]="senDataStep2"
        [isPaymentTopup]="true"
        [isTopupJobseeker]="isJobseeker"
      ></ms-upgrade-job-step1>
    </div>
  </div>
</div>