<div class="avatar-img" *ngIf="applicant">
  <img [src]="applicant.picture" alt="{{applicant.firstName}}" onerror="this.src='assets/images/jobseeker_1.jpg'" alt="avatar-applicant"/>
</div>
<div class="avatar-img" *ngIf="message">
  <img [src]="message.user_profile_picture"  alt="{{message.user_first_name}}" alt="avatar-message"
    onerror="this.src='assets/images/jobseeker_1.jpg'" />
</div>
<div class="avatar-img" *ngIf="conversation">

  <img [src]="conversation.jobSeeker_profile_picture" alt="{{conversation.jobSeeker_first_name}}" alt="avatar-conversation"
    onerror="this.src='assets/images/jobseeker_1.jpg'" />
</div>
<div class="avatar-img" *ngIf="candidate">
  <img [src]="urlShot + candidate.profile_picture" alt="{{candidate?.first_name}}" onerror="this.src='assets/images/jobseeker_1.jpg'" alt="avatar-candidate"/>
</div>
