<div class="box-upgrade-posting-job">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="job-postings__title text-center">Upgrade your Job Post</h3>
        <button
          type="button"
          class="close btn-close"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="col-lg-12">
        <div class="padding-extra">
          <div class="form-group row group-expired-job">
            <div class="col-lg-6">
              <label>Expiration Date<span class="text-danger">*</span></label>
              <div class="input-group box-date-custom exp-date">
                <input
                  class="form-control"
                  placeholder="mm-dd-yyyy"
                  [readonly]="true"
                  [firstDayOfWeek]="7"
                  [value]="formatter.format(placeHolderExpired)"
                  [startDate]="currentExpireValue"
                  [minDate]="initDateValue"
                  [maxDate]="maxExpireDateValue"
                  [placeholder]=""
                  name="dp"
                  ngbDatepicker
                  #dTo="ngbDatepicker"
                  (dateSelect)="onDateSelectionTo($event)"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="dTo.toggle()"
                    type="button"
                  >
                    <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-lg-12 mt-3">
              <label>Featured Duration</label>
              <div class="box-range-calendar mb-3">
                <form class="form-inline">
                  <div class="form-group hidden">
                    <div class="input-group box-date-ranger mobile">
                      <input
                        name="datepicker"
                        style="opacity: 0"
                        class="form-control"
                        ngbDatepicker
                        #datepicker="ngbDatepicker"
                        [firstDayOfWeek]="7"
                        [minDate]="initDateFeatureValue"
                        [maxDate]="
                          placeHolderExpired || maxFeaturedDateStartOpen
                        "
                        [autoClose]="'outside'"
                        (dateSelect)="onDateSelection($event)"
                        [displayMonths]="2"
                        [dayTemplate]="t"
                        outsideDays="hidden"
                        tabindex="-1"
                      />
                      <ng-template #t let-date let-focused="focused">
                        <span
                          class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.holiday]="!!isHoliday(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                        >
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group box-date-ranger">
                      <input
                        #dpFromDate
                        class="form-control"
                        placeholder="mm-dd-yyyy"
                        name="dpFromDate"
                        [value]="formatter.format(formatFormDate(startHotJob))"
                        style="pointer-events: none"
                        (input)="
                          startHotJob = validateInput(
                            formatFormDate(startHotJob),
                            dpFromDate.value
                          )
                        "
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary"
                          (click)="datepicker.toggle()"
                          type="button"
                        >
                          <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ml-2">
                    <div class="input-group box-date-ranger">
                      <input
                        #dpToDate
                        class="form-control"
                        placeholder="mm-dd-yyyy"
                        name="dpToDate"
                        [value]="formatter.format(formatFormDate(endHotJob))"
                        style="pointer-events: none"
                        (input)="
                          endHotJob = validateInput(
                            formatFormDate(endHotJob),
                            dpToDate.value
                          )
                        "
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary"
                          (click)="datepicker.toggle()"
                          type="button"
                        >
                          <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-lg-12">
              <label class="check-box__item badge">
                <input
                  type="checkbox"
                  [checked]="isCheckedUrgentHiring"
                  (change)="
                    checkValueUrgentHiring(isCheckedUrgentHiring ? 0 : 1)
                  "
                />
                <span class="check-icon-custom"></span>
                <span class="text-checkbox font-heavy"
                  >Add Urgently Hiring Badge
                </span>
                <div class="svg-icon">
                  <svg-icon src="assets/icons/help.svg"></svg-icon>
                </div>
              </label>
              <p>
                <span class="price--color"
                  >Get your job better visibility with this premium add-on.<br
                /></span>
                <span class="price--color" *ngIf="job.addUrgentHiringBadge == 1"
                  >Note: Existing badge will remain active until previous
                  expiration date is reached.</span
                >
              </p>
            </div>
          </div>

          <div class="modal-footer justify-content-center">
            <div class="shopping-car-bottom">
              <button
                [disabled]="isLoadingUpgrade"
                type="button"
                msLoadingButton
                (click)="paymentFreeCart()"
                [loading]="isLoadingUpgrade"
                class="btn btn-success"
              >
                Complete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
