<form (ngSubmit)="submit()">
  <div class="search-jobs-options__top">
    <div class="search-box-multi">
      <div class="box-search-left mr-40">
        
        <div class="box-search-left__content">
          <p class="box-search-left__title">
            What
          </p>
          <input class="input-search-job" type="text" placeholder="Job title, keywords, or company" [(ngModel)]="query.name" name="name">
          <div class="search-box-icon">
            <svg-icon src="assets/icons/search.svg"></svg-icon>
          </div>
        </div>
      </div>
      <div class="box-search-left box-search-left2">
        <div class="box-search-left__content">
          <p class="box-search-left__title">
            Where
          </p>
          <input class="input-search-job" type="text" placeholder='City, state' (ngModelChange)="changeSearchLocation($event)" name="location" [ngbTypeahead]="selectCountry" [(ngModel)]="place" >
          <div class="search-box-icon">
            <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
          </div>
        </div>
      </div>
      <div class="box-search-right">
        <button type="submit" class="btn btn-primary btn-find-jobs" msLoadingButton [loading]="isSearching">
          Search Jobs
        </button>
        <a class="btn-search-multi" [ngClass]="{'active-search' : isShow}" (click)="toogleShowSearch()">
          <!-- <img src="assets/images/ic_filter@2x.png" alt="filter"> -->
          <svg-icon src="assets/icons/filter-icon.svg"></svg-icon>
        </a>
     </div>

      <div class="sort-by">
        <div ngbDropdown class="d-inline-block sort-dropdown">
          <a id="dropdownFilterJobs" ngbDropdownToggle [ngClass]="{active : orderBy !== undefined}">
            <fa-icon [icon]="['fas', 'sort-amount-up']"></fa-icon>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownFilterJobs">
            <button type="button" ngbDropdownItem [ngClass]="{active : orderBy == sort.id}"
              (click)="changeSort(sort)" *ngFor="let sort of listSort">
              {{sort.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-advantage multi-select-search-job" *ngIf="isShow">
  
    <div class="advantage-item">
      <span *ngIf="jobTypeValue" (click)="removeFilterItem(TYPE_SEARCH_ADVANCE_JOBSEEKER.EMPLOYMENT_TYPE)" class="close-filter-item"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>
      <div ngbDropdown class="d-inline-block dopdown-item">
        <div class="btn btn-outline-primary" id="dropdown-jobtype" ngbDropdownToggle>{{jobTypeValue? jobTypeValue : 'Employment Type'}}
          <span *ngIf="!jobTypeValue" class="close-filter-item"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdown-jobtype">
          <div (click)="filterData(type, TYPE_SEARCH_ADVANCE_JOBSEEKER.EMPLOYMENT_TYPE)" *ngFor="let type of employmentType" ngbDropdownItem>{{type.title}}</div>
        </div>
      </div>
     </div>

    <div class="advantage-item offered-box">
      <span *ngIf="offeredComFromValue || offeredComToValue" (click)="resetSalary()" class="close-filter-item">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </span>
      <div ngbDropdown class="d-inline-block dopdown-item">
        <div class="btn btn-outline-primary" id="dropdownSalary" ngbDropdownToggle>{{ getCompensationValue(offeredComFromValue, offeredComToValue)}}
          <span *ngIf="!offeredComFromValue && !offeredComToValue" class="close-filter-item"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownSalary">
          <div class="box-choose-date">
            <div class="offered-header">
              <p>What is your desired compensation range?</p>
              <div class="cursor-pointer" ngbDropdownToggle>
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
              </div>
            </div>
            <div class="search-jobs-options__multi">
              <div class="box-create-date">
                <div class="box-create-date__inner">
                  <p>From</p>
                  <div class="input-with-dollar-sign top-sign">
                    <input [(ngModel)]="offeredComFromValue" type="number" msNumbersOnly name="from" class="select-control" >
                  </div>
                </div>
                <div class="box-create-date__inner search-date-to ml-2">
                  <div>
                    <p>To</p>
                    <div class="input-with-dollar-sign top-sign">
                      <input [(ngModel)]="offeredComToValue" type="number" msNumbersOnly name="to" class="select-control">
                    </div>
                  </div>
                </div>
                <div class="item-hour">
                  <div>
                    <select class="form-control select-salary" [ngModelOptions]="{standalone: true}" [(ngModel)]="valueSalaryType" (change)="selectOptionSalary($event.target.value)">
                      <option
                        [value]="item.id"
                        *ngFor="let item of salaryType"
                      >
                        {{ item.title }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="offered-bottom">
              <span class="cursor-pointer font-" (click)="resetSalary()">
                Reset
              </span>
              <span class="cursor-pointer blue-color" (click)="filterData(null, TYPE_SEARCH_ADVANCE_JOBSEEKER.ASKINGCOMPENSATION)">
                Update
              </span>
            </div>
          </div>
        </div>
      </div>
     </div>

     <div class="advantage-item scroll-content" *ngIf="listCompany && listCompany.length > 0">
      <span *ngIf="companyValue" (click)="removeFilterItem(TYPE_SEARCH_ADVANCE_JOBSEEKER.COMPANY)" class="close-filter-item"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>
      <div ngbDropdown class="d-inline-block dopdown-item">
        <div class="btn btn-outline-primary" id="dropdown-company" ngbDropdownToggle>{{companyValue ? companyValue: 'Company'}} 
          <span *ngIf="!companyValue" class="close-filter-item"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdown-company">
          <div (click)="filterData(company, TYPE_SEARCH_ADVANCE_JOBSEEKER.COMPANY)" *ngFor="let company of listCompany" ngbDropdownItem>{{company.companyName}}</div>
        </div>
      </div>
     </div>

  
     <div class="advantage-item">
      <div ngbDropdown class="d-inline-block dopdown-item">
        <span *ngIf="jobTravelValue" (click)="removeFilterItem(TYPE_SEARCH_ADVANCE_JOBSEEKER.WORKPLACE)" class="close-filter-item"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>
        <div class="btn btn-outline-primary" id="dropdown-travel" ngbDropdownToggle>{{ jobTravelValue? jobTravelValue : 'Workplace Setting'}}
          <span *ngIf="!jobTravelValue" class="close-filter-item"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdown-travel">
          <div (click)="filterData(job, TYPE_SEARCH_ADVANCE_JOBSEEKER.WORKPLACE)" *ngFor="let job of jobTravel" ngbDropdownItem>{{job.value}}</div>
        </div>
      </div>
     </div>

     <div class="advantage-item scroll-content">
      <span *ngIf="jobFallUnderValue" (click)="removeFilterItem(TYPE_SEARCH_ADVANCE_JOBSEEKER.INDUSTRY)" class="close-filter-item"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>
      <div ngbDropdown class="d-inline-block dopdown-item">
        <div class="btn btn-outline-primary" id="dropdown-fallUnder" ngbDropdownToggle>{{jobFallUnderValue? jobFallUnderValue : 'Industry'}}
          <span *ngIf="!jobFallUnderValue" class="close-filter-item"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdown-fallUnder">
          <div (click)="filterData(fallUnder, TYPE_SEARCH_ADVANCE_JOBSEEKER.INDUSTRY)" *ngFor="let fallUnder of listFallUnder" ngbDropdownItem>{{fallUnder}}</div>
        </div>
      </div>
     </div>
    </div>

    <ms-loading-assessment-item *ngIf="isLoadingCompanyDetails" [numberCard]="1"></ms-loading-assessment-item>
    <div *ngIf="companyValue && companyInfo && !isLoadingCompanyDetails">
     <div class="show-company" >
      <div>
        <a [routerLink]="['/company', companyInfo.urlSeo]" [queryParams]="{tab: 'employer', searchJob: 1}" class="compan-img">
          <img _ngcontent-nhm-c153="" onerror="this.src='assets/images/employer_default_photo_1.png'" [alt]="companyInfo.companyName"
          [src]="companyInfo.companyLogo">
          <h3 class="name-company ml-1">{{companyInfo.companyName}}</h3>
        </a>
      </div>
     </div>
     <h5 class="title" style="color: #333;">JOBS FROM THIS EMPLOYER</h5>
    </div>
</form>
