<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Payment Confirmation</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="payment-confirmation-body">
    <div class="content-confirm">
      <p class="title">Order Summary</p>
      <div class="row-confirm">
        <p>Total Job Postings</p>
        <input  type="text" disabled [value]="cardInfo.totalJob" class="form-control" />
      </div>
      <div class="row-confirm">
        <p>Standard Posting Days</p>
        <input type="text" disabled [value]="cardInfo.standardJob" class="form-control" />
      </div>
      <div class="row-confirm">
        <p>Featured Posting Days</p>
        <input type="text"  disabled [value]="cardInfo.featuredJob" class="form-control" />
      </div>
      <div class="total-price">
        <p>TOTAL PRICE: {{cardInfo.totalPrice | currency}}</p>
      </div>
    </div>
    <div class="payment-method mb-4" *ngIf="cardInfo && card">
      <ms-payment-methods
        [hiddenUpdate]="true"
        (updateCard)="updateCard()"
        (deleteCard)="deleteCard($event)"
      ></ms-payment-methods>
    </div>
    <ms-footer-modal-payment 
      [card]="card"
      [isShoppingCard]="true"
      (onCloseModal)="closeModal()"
      (onChangeCardPaymentSubmit)="changeCardPaymentSubmit()"
      (onConfirmPaymentSubmit)="confirmPaymentSubmit()">
    </ms-footer-modal-payment>
  </div>
</div>
