@media (min-width: 1024px){
    .j-employer-slider {
        max-height: 520px;
        margin-left: -30px;
        margin-right: -15px;
    }
}
@media (min-width: 1250px){
  .j-employer-slider {
    margin-left: -75px;
    margin-right: -55px;
    max-height: 500px;
  }
}
