<div class="job-seeker-info">
  <a [routerLink]="[currentCompany?.urlSeo]" [queryParams]="{tab: 'employer'}" class="top-info employer-url" *ngIf="groupChat?.type == GROUP_TYPE.Nomal">
    <div class="top-info__img">
      <img [src]="currentLogoCompany" alt="{{currentCompany?.company_name}}"
      onerror="this.src='assets/images/employer_default_photo_1.png'"/>
    </div>
    <h3 class="name-user-message"><span >{{currentCompany?.company_name}}</span></h3>
  </a>
  <div class="list-info" >
    <div class="list-info-item active" *ngIf="groupChat?.type == GROUP_TYPE.Nomal && groupChat?.job_id">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">JOB INFORMATION</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content" >
        <a [routerLink]="[currentCompany?.urlSeo]" [fragment]="currentCompany?.job_id" class="name-user-message font-heavy text-center mb-3 recruit-title employer-url">
          {{ listApplicants?.title }}:
        </a>
        <div class="info-text">
          <p class="title font-heavy">Proposed compensation:</p>
          <p class="info-text__money">{{currentCompany?.salary | currency}}</p>
        </div>
        <div class="info-text">
          <p class="title font-heavy">Location:</p>
          <p class="info-text__money">{{currentCompany?.stateName}}</p>
        </div>
        <div class="info-text">
          <p class="title font-heavy">Seniority Level:</p>
          <p class="info-text__money">{{currentCompany?.levelName}}</p>
        </div>

        <div class="row-assessments" >
          <p class="font-heavy title">Required Assessments:</p>
          <div class="list-skill mt-4">
            <div class="list-skill__item {{colorWeightAssessment(assessment)}}"
              *ngFor="let assessment of listAssessmentJobseeker">
              {{assessment.name}}
            </div>
          </div>
        </div>
        <div class="row-reviews" *ngIf="showRateBot">
          <p class="title mb-2">Employer Reviews:</p>
          <p>How quickly did this employer respond?</p>
          <div class="reviews-btn" *ngIf="voteStatus == 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>

          <div class="reviews-btn" *ngIf="voteStatus !== 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)"
              [style]="voteStatus == -1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)"
              [style]="voteStatus == 1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>
        </div>
        <div class="row-reviews" [hidden]="listApplicants?.jobIsPrivate == 1" style="margin-top:20px" *ngIf="groupChat?.can_view_profile === 0 || groupChat?.can_view_profile === 1">
          <p class="title mb-2">
            Unmask your profile photo and full name
          </p>
          <div class="reviews-btn">
            <button type="button" class="btn" (click)="emitMakeViewProfile(groupChat)"
              [ngClass]="groupChat?.can_view_profile === 0 ? 'btn-success' : 'btn-danger'">
              {{groupChat?.can_view_profile === 0 ? 'Accept':'Re-mask'}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- potential candidate -->
    <div class="list-info-item active" *ngIf="groupChat?.type == GROUP_TYPE.Nomal && !groupChat?.job_id">

      <div class="list-info-item__content" >
        <div class="row-reviews" *ngIf="showRateBot">
          <p class="title mb-2">Employer Reviews:</p>
          <p>How quickly did this employer respond?</p>
          <div class="reviews-btn" *ngIf="voteStatus == 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>

          <div class="reviews-btn" *ngIf="voteStatus !== 0">
            <button type="button" class="btn btn-success" (click)="onRateBot(1)"
              [style]="voteStatus == -1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Fast</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/fast.svg"></svg-icon>
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onRateBot(-1)"
              [style]="voteStatus == 1 ? '': 'pointer-events: none; opacity:0.4'">
              <span>Slow</span>
              <span class="icon-vote">
                <svg-icon src="assets/icons/slow.svg"></svg-icon>
              </span>
            </button>
          </div>
        </div>
        <div class="row-reviews" style="margin-top:20px" *ngIf="groupChat?.can_view_profile === 0 || groupChat?.can_view_profile === 1">
          <p class="title mb-2">
            Unmask your profile photo and full name
          </p>
          <div class="reviews-btn">
            <button type="button" class="btn" (click)="emitMakeViewProfile(groupChat)"
              [ngClass]="groupChat?.can_view_profile === 0 ? 'btn-success' : 'btn-danger'">
              {{groupChat?.can_view_profile === 0 ? 'Accept':'Re-mask'}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="list-info-item" >
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">UPLOADED DOCUMENTS</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="file-item" *ngFor="let file of listUploadedFiles">
          <!-- <a><fa-icon [icon]="['fas', 'arrow-circle-down']" style="color: #2668a9;"></fa-icon></a> -->
          <a class="text-link"  (click)="showModalPreviewFileComponent(file.content)">
            <fa-icon [icon]="fileService.getFaIconFromLink(file.content)"></fa-icon>
            <span>{{convertImageAndFile(file.content)}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">SHARED IMAGES</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="share-img-item" *ngFor="let image of listUploadedImages">
          <a class="text-link" (click)="openPopupShowImage(image.content)">
            <fa-icon [icon]="['far', 'file-image']"></fa-icon>
            <span>{{convertImageAndFile(image.content)}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
