<div class="job-seeker-info">
  <div class="list-info" >
    <div class="list-info-item" >
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">UPLOADED DOCUMENTS</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="file-item" *ngFor="let file of listUploadedFiles">
          <!-- <a><fa-icon [icon]="['fas', 'arrow-circle-down']" style="color: #2668a9;"></fa-icon></a> -->
          <a class="text-link"  (click)="showModalPreviewFileComponent(file.content)">
            <fa-icon [icon]="fileService.getFaIconFromLink(file.content)"></fa-icon>
            <span>{{convertImageAndFile(file.content)}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="list-info-item">
      <a class="cursor-pointer accordion-title" toggleAccordionDir>
        <span class="font-heavy">SHARED IMAGES</span>
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </a>
      <div class="list-info-item__content">
        <div class="share-img-item" *ngFor="let image of listUploadedImages">
          <a class="text-link" (click)="openPopupShowImage(image.content)">
            <fa-icon [icon]="['far', 'file-image']"></fa-icon>
            <span>{{convertImageAndFile(image.content)}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
