.info-job {
  &__item {
    margin-bottom: 20px;
    margin-left: 20px;
    li {
      list-style: disc;
      padding: 5px 0;
    }
  }
}

.job-list-desc {
  display: flex;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  > div {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .col-logo {
    margin-bottom: 20px;
  }
}

.report-mobile {
  display: none;
 }

@media (max-width: 576px) {
  .report-desktop {
   display: none;
  }
  .report-mobile {
   display: block;
  }
}

.job-description{
  white-space: pre-line;
}