<div class="border-box">
    <p class="border-box__title">Billing History</p>
    <div class="billing-content">
        <div class="posting-item">
            <div class="posting-item-header d-flex"  *ngFor="let card of getNumberCard()" style="justify-content: space-between;">
              <h3 class="animated-background card-title"></h3>
              <h3 class="animated-background card-title"></h3>
              <h3 class="animated-background card-title"></h3>
              <h3 class="animated-background card-title"></h3>
            </div>
        </div>
    </div>
  </div>
  