.find-candidates-page {
  .title {
    margin: 15px 0 10px;
  }
}
.text-danger {
  font-size: 13px;
  color: red;
}

.name-selected-assessment {
  position: relative;
  .icon {
    position: absolute;
    bottom: 56%;
    -ms-transform: translateX(-50%);
    transform: translateY(50%);
    right: 10px;
    cursor: pointer;
  }
}

.search-box-icon {
  cursor: pointer;
}

.input-search-box {
  width: 90%;
  min-width: 0 !important;
  margin-right: 10px !important;
}

.btn-search-box {
  border-radius: 10px !important;
}

.input-name-assessment{
  text-align: left;
}

.input-value-point-assessment{
  max-width: 70px;
}

.pagination{
  width: 100%;
  overflow-x: auto;
}
@media (max-width: 767px) {
  .tabs-title{
    margin-bottom: 20px;
  }
  .message-credit{
    flex-flow: column;
    width: 100%;
    align-items: flex-start !important;
    p{
      padding: 0 0 15px !important;
    }
  }
  .select-location{
    margin-top: 15px;
  }
}

.icon-color {
  color: #72777c;
}

.title-menu-selected{
  display: block;
}

.select-items{
  margin-bottom: 20px;
}

.group-weighting-assessment{
  position: relative;
  .weighting-assessment {
    width: max-content;
    @media (max-width: 767px){
      width: auto;
      margin-right: 0;
    }
  }
  .text-danger-assessment-weighting{
    width: 500px;
    position: absolute;
    bottom: -15px;
  }
}
.text-absolute{
  position: absolute;
  max-width: 200px;
  @media (max-width: 767px) {
    position: relative;
    text-align: center;
    max-width: initial;
  }
}

.search-salary{
  display: flex;
  align-items: center;
}

.disable-assessment-duplicate{
  pointer-events: none;
  opacity: 0.5;
}