<div>
  You can use this tool to create score reports that can be shared with a hyperlink. 
  You can select which assessments you want to include. 
  You can only share the highest score you have achieved on each assessment.
</div>

<div class="border-box mt-3">
  <p class="border-box__title">Share Score Reports</p>
  <div class="profile-content set-password">
    <div class="button-create-link">
      <button type="button" class="btn btn-success btn-custom-size mb-2" [disabled]="isGetListReports" (click)="createNewLink(modalShareUserHistory)">Create a New Report Link</button>
    </div>
    <div class="box-report" *ngFor="let item of listReportLinks">
      <div class="name">{{item.name}}</div>
      <div class="action d-flex">
        <div class="icon" title="edit" (click)="editItem(item, modalShareUserHistory)">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        </div>
        <div class="icon link" title="copy" (click)="copyItem(item)">
          <fa-icon *ngIf="isSaveLink == item.id" [icon]="['fas', 'check']"></fa-icon>
          <fa-icon *ngIf="isSaveLink != item.id" [icon]="['fas', 'link']"></fa-icon>
        </div>
        <div class="icon delete" title="delete" (click)="deleteItem(item)">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalShareUserHistory >
  <ms-modal-share-user-history  [reportUser]="reportUser" [listReportLinks]="listReportLinks"
  (close)="saveModalReportLink()"
  (save)="saveModalReportLink(true)"
  ></ms-modal-share-user-history>
</ng-template> 

