.box-report{
  margin: 20px 0;
  display: flex;
  align-items: center;

  .name{
    font-size: 18px;
    padding: 10px 25px;
    min-width: 300px;
    border-right: 0px;
    border-left: 1px solid #ACACAC;
    border-top: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 768px) {
      min-width: 160px;
    }
  }

  .action{
    border: 1px solid #ACACAC;
    align-items: center;
    padding: 10px;
    .icon{
      cursor: pointer;
      padding: 0 10px;
      transition: .3s all;
      &:hover{
        color: #4FB648;
      }
      &.link:hover{
        color: #007bff;
      }
      &.delete:hover{
        color: #dc3545;
      }
    }
  }
}

@media screen and (min-width: 1860px) {
  @-ms-viewport {
    width: 1860px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    _::-webkit-full-page-media,
    fa-icon {
      font-size: 1.25em
    }
  }
}