<div class="posting-item" *ngFor="let card of getNumberCard()">
    <div class="posting-item-header d-flex" style="justify-content: space-between;">
      <h3 class="animated-background card-title"></h3>
      <h3 class="animated-background card-title"></h3>
    </div>
    <div class="posting-item-content">
      <p class="animated-background card-long-text posting-item-create-date mb-2"></p>
      <p class="animated-background card-long-text posting-item-expires-date mb-2"></p>
    </div>
  </div>