<div class="company-page__inner mt-3">
  <h2>Welcome to MeasuredSkills. Let's set up your account!</h2>
    <div class="setting-company mt-4">
      <form [formGroup]="formUpdate" (ngSubmit)=save(formUpdate.value)>
        <div class="form-group">
          <label>Profile logo</label>
          <div class="box-upload-file">
            <input class="name-image d-none" type="file" id="imageUpload"
              #imageUpload name="myfile" accept="image/*" (change)="onFileChangeAvatar($event)" >
            <img [src]="imageChanged" *ngIf="imageChanged" alt="userInfo.firstName"
                  class="preview-avatar mb-3" onerror="this.src='assets/images/employer_default_photo_1.png'" />
            <p class="file-name-selected mb-3">{{fileNameSelected}}</p>
            <div>
              <label for="imageUpload" class="btn btn-success" style="margin-bottom: 0; margin-right: 5px;">Select file</label>
              <button class="btn-cancel-upload-file btn btn-light" type="button"
                *ngIf="formUpdate.value.avtFile" (click)="cancelImage()">
                Cancel
              </button>
            </div>
          </div>
          <div class="text-danger" *ngIf="isMaxSizeImage">{{MAXIMUM_UPLOAD_FILE}}</div>
        </div>
        <div class="form-group">
          <label>First Name<span class="text-danger">*</span></label>
          <input class="form-control" type="text" formControlName="firstName" msIgnoreEmojiIcon>
          <div class="text-danger"
            *ngIf="formUpdate.controls.firstName.touched && formUpdate.controls.firstName.errors?.required">
            First Name is required!
          </div>
        </div>
        <div class="form-group">
          <label>Last Name<span class="text-danger">*</span></label>
          <input class="form-control" type="text" formControlName="lastName" msIgnoreEmojiIcon>
          <div class="text-danger"
            *ngIf="formUpdate.controls.lastName.touched && formUpdate.controls.lastName.errors?.required">
            Last Name is required!
          </div>
        </div>
        <div class="form-group">
          <label>Email Address<span class="text-danger">*</span></label>
          <input class="form-control" type="email" formControlName="email" readonly>
          <div class="text-danger"
            *ngIf="formUpdate.controls.email.touched && formUpdate.controls.email.errors?.required">
            Email is required!
          </div>
          <div class="text-danger" *ngIf="formUpdate?.controls?.email?.errors?.pattern">
            Email is invalid!
          </div>
        </div>
        <div class="form-group">
          <label>Job Title</label>
          <input class="form-control" type="text" formControlName="employer_title">
        </div>
        <div class="form-group phone-input">
          <label>Phone No</label>
          <input
            placeholder="(xxx) xxx-xxxx"
            ng2TelInput
            [ng2TelInputOptions]="{
              initialCountry:'us',
              onlyCountries: listPhoneCountry
            }"
            (countryChange)="countryChange($event)" type="text"
            class="form-control" formControlName="phone"
          >
          <div class="text-danger" *ngIf="formUpdate.controls.phone.errors?.wrongNumber">
            Invalid phone number!
          </div>
        </div>
        <div class="form-group">
            <label>Password<span class="text-danger">*</span></label>
            <input class="form-control" placeholder="******" type="password" formControlName="password">
            <div class="text-danger"
              *ngIf="formUpdate.controls.password.touched && formUpdate.controls.password.errors?.required">
              Password is required!
            </div>
            <div class="text-danger"
              *ngIf="formUpdate?.controls?.password?.errors?.pattern && formUpdate?.controls?.password?.touched">
              New Password must have at least 6 characters, 1 lowercase letter, 1 uppercase letter, 1 number and 1 special character (!,@,#,$,%,&,*,..).
            </div>
        </div>
        <div class="form-group">
          <label>Confirm Password<span class="text-danger">*</span></label>
          <input class="form-control" placeholder="******" type="password" formControlName="confirmPassword">
          <div class="text-danger"
            *ngIf="formUpdate.controls.confirmPassword.touched && formUpdate.controls.confirmPassword.errors?.required">
            Password is required!
            </div>
            <div class="text-danger"
            *ngIf="formUpdate.controls?.confirmPassword?.touched && formUpdate.hasError('mismatchedPasswords')">
            Passwords do not match
          </div>
      </div>
        <div class="form-group d-flex justify-content-center">
          <button msLoadingButton [loading]="isCallingApi" type="submit" class="btn btn-success btn-custom-size">
            Complete
          </button>
        </div>
      </form>
    </div>
  </div>
  