<p *ngIf="applicant">
  <span> {{applicant?.firstName}}</span>
  <span> {{applicant?.lastName}}</span>
</p>
<p *ngIf="candidate">
  <span> {{candidate?.first_name}}</span>
  <span> {{candidate?.last_name}}</span>
</p>
<p *ngIf="message">
  <span>{{ message.user_first_name}}</span>
  <span> {{message?.user_last_name}}</span>
</p>
<h2 *ngIf="conversation" class="text-ellipsis">
  <span> {{conversation?.jobSeeker_first_name}}</span>
  <span> {{conversation?.jobSeeker_last_name}}</span>
  <span> - {{ conversation.job_id ? conversation?.job_title : 'Direct Message'}}</span>  
</h2>
